Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

mlp_sweep: drop dead MLP_HUGEPAGE knob (huge pages now always-on in loader)
  sa-benchmarks/mlp_sweep.sh
Due: none

sa-index: extract protein retrieval into sa_searcher::retrieval submodule
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/retrieval.rs
Due: sa-index

sa-index: extract scalar search pipeline into sa_searcher::scalar submodule
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/scalar.rs
Due: sa-index

sa-index: colocate sa_searcher tests with the code they exercise
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/test_helpers.rs
Due: sa-index

sa-index: test the k-mer, cutoff, two-pass-batching and empty-retrieval paths
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/scalar.rs
Due: sa-index

sa-index: fill test gaps in mod/batched/retrieval
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/retrieval.rs
Due: sa-index

benchmark: make --equate-il / --tryptic settable to true or false
  sa-benchmarks/src/main.rs
Due: none

benchmark: add matrix_bench.sh (preloaded vs mmap across the full config grid)
  sa-benchmarks/matrix_bench.sh
Due: none

benchmark: in-process --matrix mode (load once, sweep the full grid)
  sa-benchmarks/matrix_bench.sh
  sa-benchmarks/src/main.rs
Due: none

benchmark: sweep a list of MLP batch sizes in matrix mode
  sa-benchmarks/matrix_bench.sh
  sa-benchmarks/src/main.rs
Due: none

benchmark: per-config qps spread + reproducible seed
  sa-benchmarks/matrix_bench.sh
  sa-benchmarks/src/main.rs
Due: none

Move MLP batch orchestration into the searcher; use it in production
  sa-benchmarks/src/main.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/orchestrate.rs
Due: sa-index

Remove mmap MADV_WILLNEED for k-mer SA ranges: net regression
  sa-index/src/array/mmap.rs
Due: sa-index

sa-index: extend bulk fast path to I/L-free peptides under equate_il=false
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/scalar.rs
Due: sa-index

Interleave protein retrieval across queries for memory-level parallelism
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/orchestrate.rs
  sa-index/src/sa_searcher/retrieval.rs
Due: sa-index

sa-index: halve the text reads and prefetches in the tryptic filter
  sa-index/src/sa_searcher/mod.rs
Due: sa-index

Expose hot-path batch sizes as SearchTuning; gate metrics behind a feature
  sa-benchmarks/Cargo.toml
  sa-index/Cargo.toml
  sa-index/src/lib.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/metrics.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/orchestrate.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/test_helpers.rs
Due: sa-index

benchmark: fix retrieval measurement, trim grid, add OFAT + confirm sweeps
  sa-benchmarks/matrix_bench.sh
  sa-benchmarks/src/main.rs
Due: none

Retire the knobs run3 measured dead: batched retrieval, scalar k-mer prefetch
  sa-benchmarks/matrix_bench.sh
  sa-benchmarks/src/main.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/orchestrate.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/scalar.rs
Due: sa-index

Tryptic: replace the widest skip pass with left-extended searches
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/test_helpers.rs
Due: sa-index

Record the measured production result for the tryptic left-extended search
  sa-index/src/sa_searcher/scalar.rs
Due: sa-index

Make the mmap and --all-features builds compile again
  sa-builder/tests/build_test.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/metrics.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/test_helpers.rs
  text-compression/src/preloaded.rs
Due: sa-builder, sa-index

Repo hygiene: stop ignoring the dev scripts, start ignoring the scratch
  .gitignore
  docs/design/README.md
  docs/design/matrix-analysis.md
  docs/design/mlp-batching-design.md
  docs/design/refactor-comparison.md
  docs/design/refactor-throughput.png
  scripts/baseline.sh
  scripts/compare_outputs.sh
  scripts/generate_peptides.sh
  scripts/run_index.sh
Due: none

Document and test the two undocumented leaf crates
  binary-traits/src/lib.rs
  prefetch/src/lib.rs
Due: none

bitarray: explain why there are two implementations, and test that they agree
  bitarray/src/constant.rs
  bitarray/src/dynamic.rs
  bitarray/src/lib.rs
  bitarray/src/test_suite.rs
Due: bitarray

text-compression: document the format, the deliberate duplication, and the mmap safety argument
  text-compression/src/lib.rs
  text-compression/src/mmap.rs
  text-compression/src/preloaded.rs
Due: none

sa-mappings: restore missing_docs, document the file format, dedup the fixture
  sa-mappings/src/lib.rs
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/mod.rs
  sa-mappings/src/proteins/preloaded.rs
Due: sa-mappings

sa-index: correct the doc comments that were actively wrong
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded.rs
  sa-index/src/kmer_table.rs
  sa-index/src/lib.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/suffix_to_protein_index/mod.rs
Due: sa-index

sa-index: write down the performance rationale that was only in commit messages
  sa-index/src/array/compressed.rs
  sa-index/src/array/mmap.rs
  sa-index/src/array/original.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
Due: sa-index

sa-index: drop dead API, finish the SAFETY comments, cover the mmap suffix array
  sa-index/Cargo.toml
  sa-index/src/array/mmap.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
Due: sa-index

sa-index: remove the k-mer prefetch path, which had become a no-op
  sa-index/src/array/mmap.rs
  sa-index/src/array/mod.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/scalar.rs
Due: sa-index

sa-index: route the test fixtures through test_helpers
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/orchestrate.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/test_helpers.rs
Due: sa-index

CI: test the mmap configuration, and unbreak the monthly index build
  .github/workflows/build_index.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  codecov.yml
Due: none

Share one touch_all_pages instead of five near-identical copies
  sa-index/src/array/mmap.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/sparse.rs
  sa-mappings/src/proteins/mmap.rs
  text-compression/src/mmap.rs
Due: sa-index, sa-mappings

sa-benchmarks: drop it from default builds, and delete the machinery it outgrew
  Cargo.lock
  Cargo.toml
  sa-benchmarks/build.rs
  sa-benchmarks/matrix_bench.sh
  sa-benchmarks/mlp_sweep.sh
  sa-benchmarks/src/main.rs
Due: none

sa-builder + sa-server: report the compiled backend, and let the builder's tests run
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-builder/tests/build_test.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
Due: sa-builder

README: document the two builds, the index format, and how to run any of it
  README.md
Due: none

Add .git-blame-ignore-revs for the formatting commit
  .git-blame-ignore-revs
Due: none

Keep developer tooling and design notes out of the repo
  .gitignore
  README.md
  docs/design/README.md
  docs/design/matrix-analysis.md
  docs/design/mlp-batching-design.md
  docs/design/refactor-comparison.md
  docs/design/refactor-throughput.png
  sa-benchmarks/src/main.rs
  sa-index/src/lib.rs
  scripts/baseline.sh
  scripts/compare_outputs.sh
  scripts/generate_peptides.sh
  scripts/run_index.sh
Due: sa-index

Path conditions:
  bitarray: any of: bitarray, but not: **/main.rs
  fa-compression: any of: fa-compression, but not: **/main.rs
  sa-builder: any of: sa-builder, but not: **/main.rs
  sa-compression: any of: sa-compression, but not: **/main.rs
  sa-index: any of: sa-index, but not: **/main.rs
  sa-mappings: any of: sa-mappings, but not: **/main.rs
