Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

attempt on not having to allocate a lot of arrays for proteins
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
Due: sa-index, sa-mappings

remove protein array allocations
  sa-index/src/peptide_search.rs
Due: sa-index

fix right bounds bug
  sa-index/src/sa_searcher.rs
Due: sa-index

use a fast-rank bitvector implementation to find the proteins
  sa-index/Cargo.toml
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
Due: sa-index

Add a non-parallel function for the suffix array
  sa-index/src/peptide_search.rs
Due: sa-index

debug code
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
Due: sa-index

Represent chars in protein text with 5 bits, tests don't work yet
  Cargo.lock
  bitarray/src/binary.rs
  bitarray/src/lib.rs
  sa-index/Cargo.toml
  sa-index/src/lib.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-mappings/src/proteins.rs
  text-compression/Cargo.toml
  text-compression/src/lib.rs
Due: bitarray, sa-index, sa-mappings

fix tests to only use characters of peptide alphabet
  sa-index/src/sa_searcher.rs
  text-compression/src/lib.rs
Due: sa-index

use uncompressed text for SA construction
  sa-builder/src/main.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
  text-compression/src/lib.rs
Due: sa-index, sa-mappings

add tests for text-compression
  text-compression/src/lib.rs
Due: none

Add documentation to text compression
  text-compression/src/lib.rs
Due: none

remove trailing space
  sa-index/src/sa_searcher.rs
Due: sa-index

cargo fmt to format code
  bitarray/src/binary.rs
  bitarray/src/lib.rs
  fa-compression/benches/algorithm1/decode.rs
  fa-compression/benches/algorithm1/encode.rs
  fa-compression/benches/algorithm2/decode.rs
  fa-compression/benches/algorithm2/encode.rs
  fa-compression/benches/util.rs
  fa-compression/src/algorithm1/encode.rs
  fa-compression/src/algorithm1/mod.rs
  fa-compression/src/algorithm2/encode.rs
  fa-compression/src/algorithm2/mod.rs
  libsais64-rs/builder.rs
  libsais64-rs/src/lib.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-compression/src/lib.rs
  sa-index/src/binary.rs
  sa-index/src/lib.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-mappings/src/proteins.rs
  sa-server/src/main.rs
  text-compression/src/lib.rs
Due: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

fix cargo clippy errors
  bitarray/src/lib.rs
  sa-index/src/sa_searcher.rs
  text-compression/src/lib.rs
Due: bitarray, sa-index

reformat with cargo
  sa-index/src/sa_searcher.rs
Due: sa-index

fix to long doc comment
  bitarray/src/lib.rs
Due: bitarray

reformat with cargo
  bitarray/src/lib.rs
Due: bitarray

add lifetime parameter to ProteinTextSlice
  text-compression/src/lib.rs
Due: none

add functionality to search only tryptic matches
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-server/src/main.rs
Due: sa-index

Add test for tryptic search
  sa-index/src/sa_searcher.rs
Due: sa-index

Add Intellij files to gitignore
  .gitignore
Due: none

Run formatter
  sa-index/src/sa_searcher.rs
Due: sa-index

Add missing character to error messages
  text-compression/src/lib.rs
Due: none

Fix compilation error
  text-compression/src/lib.rs
Due: none

Add support for pseudo amino acids BOUZX
  text-compression/src/lib.rs
Due: none

Run linter
  text-compression/src/lib.rs
Due: none

Fix warnings generated by clippy
  text-compression/src/lib.rs
Due: none

Fixed tests because of added symbols
  text-compression/src/lib.rs
Due: none

SA construction with bitpacking
  libsais64-rs/src/lib.rs
  sa-builder/src/bitpacking.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
Due: sa-builder

use global variable for bits_per_char
  sa-builder/src/bitpacking.rs
  sa-builder/src/lib.rs
Due: sa-builder

fixed tests for libsais with bitpacking
  libsais64-rs/src/lib.rs
  sa-builder/src/bitpacking.rs
  sa-builder/src/lib.rs
Due: sa-builder

remove debug code
  sa-builder/src/main.rs
Due: none

remove unused import
  sa-builder/src/main.rs
Due: none

bugfix shift overflow
  sa-builder/src/lib.rs
Due: sa-builder

use adapted libsais library
  libsais64-rs/builder.rs
  libsais64-rs/libsais-wrapper.h
  libsais64-rs/src/lib.rs
  sa-builder/src/bitpacking.rs
  sa-builder/src/lib.rs
Due: sa-builder

support for sparseness factor up to 6
  libsais64-rs/libsais-wrapper.h
  libsais64-rs/src/bitpacking.rs
  libsais64-rs/src/lib.rs
  sa-builder/src/lib.rs
Due: sa-builder

set max alfabet size to 2^28
  libsais64-rs/src/lib.rs
Due: none

bugfix: check if libsais_sparseness big enough
  libsais64-rs/src/lib.rs
  sa-builder/src/lib.rs
Due: sa-builder

Path conditions:
  bitarray: any of: bitarray, but not: **/main.rs
  fa-compression: any of: fa-compression, but not: **/main.rs
  sa-builder: any of: sa-builder, but not: **/main.rs
  sa-compression: any of: sa-compression, but not: **/main.rs
  sa-index: any of: sa-index, but not: **/main.rs
  sa-mappings: any of: sa-mappings, but not: **/main.rs
