Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
      bitarray:
        flags:
          - bitarray
      fa-compression:
        flags:
          - fa-compression
      sa-builder:
        flags:
          - sa-builder
      sa-compression:
        flags:
          - sa-compression
      sa-index:
        target: 80%
        flags:
          - sa-index
      sa-mappings:
        flags:
          - sa-mappings
    patch: off

flags:
  bitarray:
    paths:
      - bitarray
    carryforward: true
  fa-compression:
    paths:
      - fa-compression
    carryforward: true
  sa-builder:
    paths:
      - sa-builder
    carryforward: true
  sa-compression:
    paths:
      - sa-compression
    carryforward: true
  sa-index:
    paths:
      - sa-index
    carryforward: true
  sa-mappings:
    paths:
      - sa-mappings
    carryforward: true

ignore:
  - "**/main.rs" # Ignore main.rs files

add parallel search for multiple peptides
  fm-builder/src/lib.rs
  fm-builder/src/main.rs
  fm-index/Cargo.toml
  fm-index/src/main.rs
  fm-index/src/search.rs
  fm-index/src/search_pattern.rs
Due: none

Improve memory usage in build
  fm-builder/src/lib.rs
  fm-builder/src/main.rs
  fm-index/Cargo.toml
  fm-index/src/fm_index.rs
  fm-index/src/search.rs
Due: none

change build script for compatibility with SA building
  Cargo.lock
  fm-builder/Cargo.toml
  fm-builder/build.pbs
  fm-builder/src/lib.rs
  fm-builder/src/main.rs
  fm-index/src/main.rs
Due: none

start positions and lengts of matches after search
  fm-index/src/main.rs
  fm-index/src/search.rs
Due: none

improve logging while loading index
  fm-index/src/fm_index.rs
  fm-index/src/main.rs
Due: none

report amount of matches
  fm-index/src/main.rs
Due: none

change library for wavelet tree that supports serializing
  fm-builder/Cargo.toml
  fm-builder/src/lib.rs
  fm-index/Cargo.toml
  fm-index/src/fm_index.rs
Due: none

Add documentation
  fm-builder/src/lib.rs
  fm-index/Cargo.toml
  fm-index/src/banded_matrix.rs
  fm-index/src/fm_index.rs
  fm-index/src/main.rs
  fm-index/src/search.rs
  fm-index/src/search_pattern.rs
  fm-index/src/search_scheme.rs
Due: none

Add tests to fm-index and fm-builder
  fm-builder/src/lib.rs
  fm-index/src/banded_matrix.rs
  fm-index/src/fm_index.rs
  fm-index/src/search.rs
  fm-index/src/search_pattern.rs
  fm-index/src/search_scheme.rs
Due: none

exact search
  fm-index/src/fm_index.rs
  fm-index/src/main.rs
  fm-index/src/search.rs
Due: none

bugfix looping search schemes
  fm-index/src/main.rs
Due: none

report matches in text
  fm-index/src/fm_index.rs
  fm-index/src/main.rs
  fm-index/src/search.rs
Due: none

report matches per ED, write matches to file
  fm-index/src/main.rs
Due: none

search without banded matrix
  fm-index/src/search.rs
  fm-index/src/search_pattern.rs
  fm-index/src/search_scheme.rs
Due: none

only print unique matches
  fm-index/src/main.rs
Due: none

add function to only retrieve unique matches in the text
  fm-index/src/main.rs
  fm-index/src/search.rs
Due: none

bugfix exact search: iterate through pattern backwards
  fm-index/src/fm_index.rs
Due: none

add special search method for casanovo peptides
  fm-index/src/main.rs
  fm-index/src/search.rs
Due: none

add SA time measures
  sa-server/src/main.rs
Due: none

Add mmap option to load the suffix array faster
  Cargo.lock
  sa-index/Cargo.toml
  sa-index/src/binary.rs
  sa-index/src/lib.rs
  sa-server/Cargo.toml
  sa-server/src/main.rs
Due: sa-index

Make sa-server a partial library, so we can export and reuse the loading function in the api
  sa-server/src/lib.rs
  sa-server/src/main.rs
Due: none

Introduce a binary format for the proteins and text. This way mmap can also be used for the proteins
  Cargo.lock
  sa-builder/src/main.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/proteins.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
  text-compression/Cargo.toml
  text-compression/src/lib.rs
Due: sa-mappings

Add extra CLI argument for protein output
  Cargo.lock
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-mappings/Cargo.toml
  sa-server/src/main.rs
Due: sa-builder, sa-mappings

Some debug code to just build the binary file
  sa-server/src/lib.rs
Due: none

remove debug lines
  sa-server/src/lib.rs
Due: none

Use the mmap more intensively instead of creating objects
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
  sa-server/src/main.rs
  text-compression/src/lib.rs
Due: sa-index, sa-mappings

Revert proteins mmap
  sa-builder/src/main.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
  text-compression/src/lib.rs
Due: sa-index, sa-mappings

binary format for all protein mappings
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
Due: sa-builder, sa-index

mmap for all
  Cargo.lock
  sa-index/Cargo.toml
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-mappings/src/proteins.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
  text-compression/Cargo.toml
  text-compression/src/lib.rs
Due: sa-index, sa-mappings

Mmap cleanup. Make sure everything is split sufficiently and is still maintainable.
  Cargo.lock
  Cargo.toml
  sa-builder/Cargo.toml
  sa-builder/src/main.rs
  sa-compression/Cargo.toml
  sa-index/Cargo.toml
  sa-index/src/array/compressed.rs
  sa-index/src/array/mmap.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/original.rs
  sa-index/src/binary.rs
  sa-index/src/lib.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/sparse.rs
  sa-mappings/src/proteins.rs
  sa-server/Cargo.toml
  sa-server/src/lib.rs
  sa-server/src/main.rs
  text-compression/src/lib.rs
  text-compression/src/traits.rs
Due: sa-builder, sa-compression, sa-index, sa-mappings

Change default mapping
  sa-builder/src/lib.rs
Due: sa-builder

Make sure the sa-builder builds all binary files needed to run the server
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
Due: sa-builder

Add integration test
  Cargo.lock
  sa-builder/Cargo.toml
  sa-builder/tests/build_test.rs
Due: sa-builder

Flush writers so the entire mapping is always written on dump
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/mod.rs
Due: sa-index

Fix clippy errors/warnings
  bitarray/src/lib.rs
  libsais64-rs/builder.rs
  sa-builder/src/lib.rs
  text-compression/src/lib.rs
Due: bitarray, sa-builder

Fix review
  libsais64-rs/builder.rs
  sa-builder/src/lib.rs
  text-compression/src/lib.rs
Due: sa-builder

Fix server and builder. Change the WriteBinary to an owned instance, so the behaviour is the same for all the functions
  sa-builder/src/main.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/original.rs
  sa-mappings/src/proteins.rs
  sa-server/src/main.rs
  text-compression/src/lib.rs
  text-compression/src/traits.rs
Due: sa-index, sa-mappings

Apply review
  sa-index/src/array/mod.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-mappings/src/proteins.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
  text-compression/src/lib.rs
Due: sa-index, sa-mappings

Fix clippy warnings/errors
  bitarray/src/lib.rs
  libsais64-rs/builder.rs
  sa-builder/src/lib.rs
  sa-index/src/array/mod.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-mappings/src/proteins.rs
  text-compression/src/lib.rs
Due: bitarray, sa-builder, sa-index, sa-mappings

Fix clippy warnings/errors in test cases
  sa-index/src/suffix_to_protein_index/bitvec.rs
Due: sa-index
