Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

Reject a bit array payload that ends mid-word
  bitarray/src/binary.rs
Due: bitarray

Refuse a DynBitArray width outside the documented 1..=64
  bitarray/src/dynamic.rs
  sa-index/src/array/mod.rs
Due: bitarray, sa-index

Round the chunk size to the width that fills whole words
  bitarray/src/lib.rs
Due: bitarray

Add protein-text: the concatenated protein text, in two backends
  Cargo.lock
  Cargo.toml
  protein-text/Cargo.toml
  protein-text/README.md
  protein-text/src/lib.rs
  protein-text/src/mmap.rs
  protein-text/src/preloaded.rs
  protein-text/src/test_utils.rs
Due: none

Bound prefetch_at by the text length, not just the mapping
  protein-text/src/mmap.rs
Due: none

Name the residue, not its byte value, when it is not in the alphabet
  protein-text/src/preloaded.rs
Due: none

State the rules without the history, and size them relatively
  protein-text/README.md
  protein-text/src/lib.rs
  protein-text/src/mmap.rs
  protein-text/src/preloaded.rs
Due: none

Add protein-metadata: accessions and annotations, in two backends
  Cargo.lock
  Cargo.toml
  protein-metadata/Cargo.toml
  protein-metadata/README.md
  protein-metadata/src/lib.rs
  protein-metadata/src/mmap.rs
  protein-metadata/src/preloaded.rs
  protein-metadata/src/test_utils.rs
Due: none

State the rules without the history, and size them relatively
  protein-metadata/README.md
  protein-metadata/src/lib.rs
  protein-metadata/src/mmap.rs
  protein-metadata/src/preloaded.rs
Due: none

sa-index: add both suffix-array backends behind a trait
  Cargo.lock
  sa-index/Cargo.toml
  sa-index/src/array/legacy/compressed.rs
  sa-index/src/array/legacy/mmap.rs
  sa-index/src/array/legacy/mod.rs
  sa-index/src/array/legacy/original.rs
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/mmap/test_utils.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/array/preloaded/original.rs
  sa-index/src/array/preloaded/test_utils.rs
  sa-index/src/array/test_utils.rs
Due: sa-index

Fault on an out-of-range iter_range, like every other backend
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded/original.rs
  sa-index/src/array/test_utils.rs
Due: sa-index

State the header rules without the history
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/array/preloaded/original.rs
Due: sa-index

Size the array docs relatively rather than by one index
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/mod.rs
Due: sa-index

State the mapping rules without the history
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/mmap/sparse.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
Due: sa-index

Cover bitvec in the implausible-count test
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
Due: sa-index

Size the mapping docs relatively rather than by one index
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
Due: sa-index

Say what rank1's popcount actually keeps
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/test_utils.rs
Due: sa-index

sa-index: add both suffix-to-protein backends behind a trait
  Cargo.lock
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-builder/tests/build_test.rs
  sa-index/Cargo.toml
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/legacy/bitvec.rs
  sa-index/src/suffix_to_protein_index/legacy/dense.rs
  sa-index/src/suffix_to_protein_index/legacy/mod.rs
  sa-index/src/suffix_to_protein_index/legacy/sparse.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/mmap/sparse.rs
  sa-index/src/suffix_to_protein_index/mmap/test_utils.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/dense.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/sparse.rs
  sa-index/src/suffix_to_protein_index/preloaded/test_utils.rs
  sa-index/src/suffix_to_protein_index/test_utils.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
Due: sa-builder, sa-index

sa-index: the new searcher, generic over every storage backend
  sa-index/Cargo.toml
  sa-index/src/kmer_table.rs
  sa-index/src/lib.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/results.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/test_utils.rs
  sa-index/src/sa_searcher/tryptic.rs
  sa-index/src/sa_searcher/tuning.rs
Due: sa-index

Delete the transition scaffolding and the superseded crates
  Cargo.lock
  Cargo.toml
  sa-index/src/array/legacy/compressed.rs
  sa-index/src/array/legacy/mmap.rs
  sa-index/src/array/legacy/mod.rs
  sa-index/src/array/legacy/original.rs
  sa-index/src/array/mod.rs
  sa-index/src/suffix_to_protein_index/legacy/bitvec.rs
  sa-index/src/suffix_to_protein_index/legacy/dense.rs
  sa-index/src/suffix_to_protein_index/legacy/mod.rs
  sa-index/src/suffix_to_protein_index/legacy/sparse.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-mappings/Cargo.toml
  sa-mappings/README.md
  sa-mappings/src/lib.rs
  sa-mappings/src/proteins.rs
  text-compression/Cargo.toml
  text-compression/src/lib.rs
  text-compression/src/traits.rs
Due: sa-index, sa-mappings

sa-builder and sa-server: move onto the new API
  Cargo.lock
  sa-builder/Cargo.toml
  sa-builder/README.md
  sa-builder/build-compressed.pbs
  sa-builder/build.pbs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-builder/tests/build_test.rs
  sa-server/Cargo.toml
  sa-server/README.md
  sa-server/src/backends.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
Due: sa-builder

sa-index: rework peptide_search onto the new searcher
  sa-index/src/peptide_search.rs
Due: sa-index

Compare the backends at a sparseness the extended search runs at
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/test_utils.rs
Due: sa-index

Sync the index directory after committing the renames
  sa-builder/src/main.rs
Due: none

Record the single-builder assumption on Output
  sa-builder/src/main.rs
Due: none

Make the sa-server example command copy-pasteable
  sa-server/README.md
Due: none

Correct two comments that describe code as it no longer is
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/scalar.rs
Due: sa-index

State the searcher's rules without the history
  sa-builder/src/main.rs
  sa-index/src/kmer_table.rs
  sa-index/src/lib.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/tryptic.rs
  sa-server/src/main.rs
Due: sa-index

Split the benchmark record out of the crate docs
  sa-index/BENCHMARKS.md
  sa-index/src/lib.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-server/src/backends.rs
Due: sa-index

Finish the relative-sizing pass over the searcher and builder
  sa-builder/src/lib.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/tuning.rs
Due: sa-builder, sa-index

Add the sa-benchmarks measurement harness (Rust side)
  Cargo.lock
  Cargo.toml
  sa-benchmarks/Cargo.toml
  sa-benchmarks/build.rs
  sa-benchmarks/src/generate_peptides.rs
  sa-benchmarks/src/main.rs
Due: none

Name the boundary bytes, and error on an empty peptide sample
  Cargo.lock
  sa-benchmarks/Cargo.toml
  sa-benchmarks/src/generate_peptides.rs
  sa-benchmarks/src/main.rs
Due: none

Say what the record measures, without the sizing and the sessions
  sa-benchmarks/src/main.rs
Due: none

sa-benchmarks: the Python driver core
  sa-benchmarks/bench/__init__.py
  sa-benchmarks/bench/build.py
  sa-benchmarks/bench/config.py
  sa-benchmarks/bench/grid.py
  sa-benchmarks/bench/preflight.py
  sa-benchmarks/bench/profile.py
  sa-benchmarks/bench/progress.py
  sa-benchmarks/bench/records.py
  sa-benchmarks/bench/rig.py
  sa-benchmarks/bench/runner.py
Due: none

Recognise an OOM-killed cell, which is how ram measures a ceiling
  sa-benchmarks/bench/records.py
  sa-benchmarks/bench/runner.py
Due: none

Quote the cargo command for the shell that runs it
  sa-benchmarks/bench/build.py
Due: none

Measure drift in every slot, not only the alphabetically first
  sa-benchmarks/bench/records.py
Due: none

Inherit the cell coordinates a sweep block does not name
  sa-benchmarks/bench/grid.py
Due: none

Reject a list of k-mer tables in [defaults]
  sa-benchmarks/bench/config.py
Due: none

Write the OOM marker in the spelling its readers expect
  sa-benchmarks/bench/runner.py
Due: none

Path conditions:
  bitarray: any of: bitarray, but not: **/main.rs
  fa-compression: any of: fa-compression, but not: **/main.rs
  sa-builder: any of: sa-builder, but not: **/main.rs
  sa-compression: any of: sa-compression, but not: **/main.rs
  sa-index: any of: sa-index, but not: **/main.rs
  sa-mappings: any of: sa-mappings, but not: **/main.rs
