Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

sa-mappings: reject a database that would overflow the proteins.bin offsets
  sa-mappings/src/proteins/preloaded.rs
Due: sa-mappings

fa-compression: drop the profile settings Cargo has always ignored
  fa-compression/Cargo.toml
Due: fa-compression

Record the LTO measurement and correct the cross-crate inlining claims
  bitarray/src/constant.rs
  prefetch/src/lib.rs
  sa-index/src/lib.rs
Due: bitarray, sa-index

Change default of k-mer tables to five
  sa-builder/src/lib.rs
Due: sa-builder

some documentation
  sa-mappings/README.md
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/mod.rs
  sa-mappings/src/proteins/preloaded.rs
  sa-mappings/src/proteins/test_fixtures.rs
Due: sa-mappings

Choose storage per structure instead of per build
  .github/workflows/test.yml
  README.md
  sa-benchmarks/Cargo.toml
  sa-benchmarks/src/main.rs
  sa-builder/Cargo.toml
  sa-builder/tests/build_test.rs
  sa-index/Cargo.toml
  sa-index/src/lib.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-mappings/Cargo.toml
  sa-mappings/README.md
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/mod.rs
  sa-mappings/src/proteins/preloaded.rs
  sa-server/Cargo.toml
  sa-server/src/lib.rs
  sa-server/src/main.rs
  text-compression/Cargo.toml
  text-compression/src/lib.rs
Due: sa-builder, sa-index, sa-mappings

sa-benchmarks: record what startup costs, per structure
  sa-benchmarks/src/main.rs
Due: none

sa-benchmarks: instrument for measuring under a memory cap
  sa-benchmarks/src/main.rs
Due: none

sa-index: optional MADV_WILLNEED over an SA range, off by default
  sa-benchmarks/src/main.rs
  sa-index/src/array/mmap.rs
  sa-index/src/array/mod.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/scalar.rs
Due: sa-index

Record what changes when the index does not fit in RAM
  README.md
  sa-benchmarks/src/main.rs
  sa-index/src/array/mmap.rs
  sa-index/src/lib.rs
  sa-index/src/sa_searcher/mod.rs
Due: sa-index

Verify the suffix_to_protein index code
  sa-index/src/sa_searcher/orchestrate.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/mmap/sparse.rs
  sa-index/src/suffix_to_protein_index/mmap/test_utils.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/dense.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/sparse.rs
  sa-index/src/suffix_to_protein_index/preloaded/test_utils.rs
  sa-index/src/suffix_to_protein_index/test_utils.rs
Due: sa-index

Verify the array code
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/mmap/test_utils.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/array/preloaded/original.rs
  sa-index/src/array/preloaded/test_utils.rs
  sa-index/src/array/test_utils.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/orchestrate.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/test_utils.rs
Due: sa-index

searcher split
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/metrics.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/orchestrate.rs
  sa-index/src/sa_searcher/results.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/test_utils.rs
  sa-index/src/sa_searcher/tryptic.rs
  sa-index/src/sa_searcher/tuning.rs
Due: sa-index

Fix the feature-flags. No longer bind them to the libraries, but rather to the index at the end
  .github/workflows/test.yml
  Cargo.lock
  README.md
  binary-traits/src/lib.rs
  sa-benchmarks/Cargo.toml
  sa-benchmarks/src/generate_peptides.rs
  sa-benchmarks/src/main.rs
  sa-builder/Cargo.toml
  sa-builder/tests/build_test.rs
  sa-index/Cargo.toml
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/kmer_table.rs
  sa-index/src/lib.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/backend_agreement.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/orchestrate.rs
  sa-index/src/sa_searcher/test_utils.rs
  sa-index/src/sa_searcher/tryptic.rs
  sa-index/src/sa_searcher/tuning.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/lib.rs
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/mod.rs
  sa-mappings/src/proteins/preloaded.rs
  sa-server/Cargo.toml
  sa-server/src/backends.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
  text-compression/Cargo.toml
  text-compression/src/lib.rs
  text-compression/src/mmap.rs
  text-compression/src/preloaded.rs
Due: sa-builder, sa-index, sa-mappings

Benchmarks
  sa-benchmarks/README.md
  sa-benchmarks/bench/__main__.py
  sa-benchmarks/bench/build.py
  sa-benchmarks/bench/charts.py
  sa-benchmarks/bench/config.py
  sa-benchmarks/bench/fullreport.py
  sa-benchmarks/bench/grid.py
  sa-benchmarks/bench/html.py
  sa-benchmarks/bench/preflight.py
  sa-benchmarks/bench/progress.py
  sa-benchmarks/bench/report.py
  sa-benchmarks/bench/rig.py
  sa-benchmarks/bench/runner.py
  sa-benchmarks/bench/selftest.py
  sa-benchmarks/bench/suites/combos.py
  sa-benchmarks/bench/suites/defaults.py
  sa-benchmarks/bench/suites/detail.py
  sa-benchmarks/bench/suites/generic.py
  sa-benchmarks/bench/suites/kmer.py
  sa-benchmarks/bench/suites/mlp.py
  sa-benchmarks/bench/suites/mlp_validate.py
  sa-benchmarks/bench/suites/prefetch.py
  sa-benchmarks/bench/suites/ram.py
  sa-benchmarks/bench/suites/shared.py
  sa-benchmarks/bench/suites/startup.py
  sa-benchmarks/bench/suites/stream.py
  sa-benchmarks/bench/suites/threads.py
  sa-benchmarks/bench/suites/validate.py
  sa-benchmarks/src/main.rs
  sa-benchmarks/suites/all.toml
  sa-benchmarks/suites/combos.toml
  sa-benchmarks/suites/defaults.toml
  sa-benchmarks/suites/detail.toml
  sa-benchmarks/suites/kmer.toml
  sa-benchmarks/suites/mlp.toml
  sa-benchmarks/suites/mlp_validate.toml
  sa-benchmarks/suites/prefetch.toml
  sa-benchmarks/suites/startup.toml
  sa-benchmarks/suites/stream.toml
  sa-benchmarks/suites/validate.toml
Due: none

Benchmarks
  sa-benchmarks/README.md
  sa-benchmarks/bench/preflight.py
  sa-benchmarks/bench/rig.py
Due: none

loading speed
  bitarray/src/binary.rs
  sa-index/src/array/preloaded/original.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
Due: bitarray, sa-index

benchmarks
  README.md
  report-server.html
  sa-benchmarks/bench/fullreport.py
  sa-benchmarks/bench/suites/combos.py
  sa-benchmarks/bench/suites/defaults.py
  sa-benchmarks/bench/suites/shared.py
  sa-benchmarks/profiles/example.toml
  sa-benchmarks/suites/defaults.toml
  sa-benchmarks/suites/kmer.toml
  sa-benchmarks/suites/mlp.toml
  sa-benchmarks/suites/mlp_validate.toml
  sa-benchmarks/suites/prefetch.toml
  sa-benchmarks/suites/startup.toml
  sa-benchmarks/suites/stream.toml
  sa-benchmarks/suites/validate.toml
  sa-builder/src/lib.rs
  sa-index/src/lib.rs
  sa-index/src/sa_searcher/test_utils.rs
  sa-index/src/sa_searcher/tuning.rs
Due: sa-builder, sa-index

optimise decode/serialisation
  Cargo.lock
  fa-compression/benches/algorithm1/decode.rs
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/mod.rs
  sa-benchmarks/README.md
  sa-benchmarks/bench/selftest.py
  sa-benchmarks/bench/suites/defaults.py
  sa-benchmarks/bench/suites/shared.py
  sa-benchmarks/src/main.rs
  sa-index/Cargo.toml
  sa-index/src/peptide_search.rs
  sa-server/Cargo.toml
  sa-server/src/main.rs
Due: fa-compression, sa-index

Some small fixes
  Cargo.lock
  bitarray/src/constant.rs
  bitarray/src/dynamic.rs
  bitarray/src/hugepages.rs
  bitarray/src/lib.rs
  sa-benchmarks/README.md
  sa-benchmarks/bench/suites/defaults.py
  sa-benchmarks/bench/suites/shared.py
  sa-benchmarks/bench/suites/startup.py
  sa-benchmarks/src/main.rs
  sa-benchmarks/suites/defaults.toml
  sa-benchmarks/suites/kmer.toml
  sa-benchmarks/suites/mlp.toml
  sa-benchmarks/suites/startup.toml
  sa-benchmarks/suites/stream.toml
  sa-benchmarks/suites/validate.toml
  sa-index/Cargo.toml
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/array/preloaded/original.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/mmap/sparse.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/dense.rs
  sa-index/src/suffix_to_protein_index/test_utils.rs
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/mod.rs
  sa-mappings/src/proteins/preloaded.rs
  text-compression/src/lib.rs
  text-compression/src/mmap.rs
  text-compression/src/preloaded.rs
Due: bitarray, sa-index, sa-mappings

Some small fixes
  sa-benchmarks/bench/selftest.py
  sa-benchmarks/bench/suites/ram.py
  sa-benchmarks/bench/suites/startup.py
  sa-benchmarks/bench/suites/threads.py
  sa-benchmarks/suites/defaults.toml
  sa-benchmarks/suites/ram.toml
  sa-benchmarks/suites/threads.toml
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/preloaded.rs
Due: sa-mappings

Some small fixes
  sa-benchmarks/bench/runner.py
  sa-benchmarks/bench/suites/defaults.py
  sa-benchmarks/bench/suites/shared.py
  sa-benchmarks/src/main.rs
  sa-benchmarks/suites/defaults.toml
  sa-benchmarks/suites/ram.toml
  sa-benchmarks/suites/threads.toml
Due: none

test
  sa-benchmarks/bench/charts.py
  sa-benchmarks/bench/html.py
  sa-benchmarks/suites/defaults.toml
Due: none

update suites for the full test
  sa-benchmarks/README.md
  sa-benchmarks/bench/charts.py
  sa-benchmarks/bench/html.py
  sa-benchmarks/bench/selftest.py
  sa-benchmarks/bench/suites/defaults.py
  sa-benchmarks/bench/suites/ram.py
  sa-benchmarks/suites/combos.toml
  sa-benchmarks/suites/defaults.toml
  sa-benchmarks/suites/kmer.toml
  sa-benchmarks/suites/mlp.toml
  sa-benchmarks/suites/mlp_validate.toml
  sa-benchmarks/suites/prefetch.toml
  sa-benchmarks/suites/ram.toml
  sa-benchmarks/suites/startup.toml
  sa-benchmarks/suites/stream.toml
  sa-benchmarks/suites/threads.toml
  sa-benchmarks/suites/validate.toml
Due: none

update suites for the full test
  sa-benchmarks/suites/combos.toml
  sa-benchmarks/suites/kmer.toml
  sa-benchmarks/suites/mlp.toml
  sa-benchmarks/suites/mlp_validate.toml
  sa-benchmarks/suites/prefetch.toml
  sa-benchmarks/suites/validate.toml
Due: none

consistency changes
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/mmap/test_utils.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/array/test_utils.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/mmap/sparse.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/dense.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
  sa-mappings/src/proteins/mmap.rs
  text-compression/src/lib.rs
  text-compression/src/mmap.rs
  text-compression/src/preloaded.rs
  text-compression/src/test_utils.rs
Due: sa-index, sa-mappings

Fix two boundary issues
  sa-index/src/kmer_table.rs
  sa-index/src/sa_searcher/tryptic.rs
Due: sa-index

normalise peptides addition
  sa-index/src/peptide_search.rs
Due: sa-index

linting and reformatting fixes
  .github/workflows/lint.yml
  .rustfmt.toml
  fa-compression/src/algorithm1/decode.rs
  sa-benchmarks/src/main.rs
  sa-index/src/peptide_search.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
  sa-server/src/main.rs
Due: fa-compression, sa-index

Fix a lot of boundary checks
  bitarray/src/constant.rs
  bitarray/src/dynamic.rs
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/array/preloaded/original.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/mmap/sparse.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/dense.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/sparse.rs
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/preloaded.rs
  text-compression/src/lib.rs
  text-compression/src/mmap.rs
  text-compression/src/preloaded.rs
Due: bitarray, sa-index, sa-mappings

Fix input cap problem (nofix)
  README.md
  sa-index/src/peptide_search.rs
Due: sa-index

Builder bound checks
  bitarray/src/constant.rs
  bitarray/src/dynamic.rs
  bitarray/src/test_suite.rs
  libsais64-rs/src/bitpacking.rs
  libsais64-rs/src/lib.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/kmer_table.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/results.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/preloaded.rs
  text-compression/src/mmap.rs
Due: bitarray, sa-builder, sa-index, sa-mappings

final review changes
  sa-index/src/kmer_table.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/dense.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
  sa-mappings/src/proteins/preloaded.rs
  sa-server/src/main.rs
Due: sa-index, sa-mappings

bitarray documentation pass
  bitarray/README.md
  bitarray/src/binary.rs
  bitarray/src/constant.rs
  bitarray/src/dynamic.rs
  bitarray/src/hugepages.rs
  bitarray/src/lib.rs
Due: bitarray

prefetch documentation pass
  prefetch/src/lib.rs
  sa-mappings/src/lib.rs
  text-compression/src/lib.rs
Due: sa-mappings

sa-builder documentation pass
  README.md
  sa-benchmarks/suites/defaults.toml
  sa-benchmarks/suites/kmer.toml
  sa-benchmarks/suites/stream.toml
  sa-builder/build-compressed.pbs
  sa-builder/build.pbs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/kmer_table.rs
  sa-index/src/lib.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/results.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
Due: sa-builder, sa-index

sa-mappings documentation pass
  sa-mappings/README.md
  sa-mappings/src/lib.rs
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/mod.rs
  sa-mappings/src/proteins/preloaded.rs
Due: sa-mappings

Path conditions:
  bitarray: any of: bitarray, but not: **/main.rs
  fa-compression: any of: fa-compression, but not: **/main.rs
  sa-builder: any of: sa-builder, but not: **/main.rs
  sa-compression: any of: sa-compression, but not: **/main.rs
  sa-index: any of: sa-index, but not: **/main.rs
  sa-mappings: any of: sa-mappings, but not: **/main.rs
