Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

Add SA compression, fix some tests and refactor some code
  .github/workflows/coverage.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  bitarray/Cargo.toml
  bitarray/README.md
  bitarray/src/binary.rs
  bitarray/src/lib.rs
  codecov.yml
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/encode.rs
  fa-compression/src/algorithm1/mod.rs
  sa-builder/Cargo.toml
  sa-builder/README.md
  sa-builder/src/binary.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-compression/Cargo.toml
  sa-compression/src/lib.rs
  sa-index/Cargo.toml
  sa-index/src/binary.rs
  sa-index/src/lib.rs
  sa-index/src/main.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-index/src/util.rs
  sa-mappings/src/functionality.rs
  sa-mappings/src/proteins.rs
  sa-mappings/src/taxonomy.rs
  sa-server/Cargo.toml
  sa-server/src/main.rs
Due: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

Move code
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
  .gitmodules
  Cargo.lock
  Cargo.toml
  README.md
  bitarray/Cargo.toml
  bitarray/README.md
  bitarray/src/binary.rs
  bitarray/src/lib.rs
  codecov.yml
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/encode.rs
  fa-compression/src/algorithm1/mod.rs
  libsais64-rs/Cargo.toml
  libsais64-rs/builder.rs
  libsais64-rs/libsais-wrapper.h
  libsais64-rs/src/lib.rs
  sa-builder/Cargo.toml
  sa-builder/README.md
  sa-builder/build_suffix_array.pbs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-compression/Cargo.toml
  sa-compression/src/lib.rs
  sa-index/Cargo.toml
  sa-index/src/binary.rs
  sa-index/src/lib.rs
  sa-index/src/main.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/functionality.rs
  sa-mappings/src/proteins.rs
  sa-mappings/src/taxonomy.rs
  sa-server/Cargo.toml
  sa-server/src/main.rs
Due: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

build script
  libsais64-rs/src/build.rs
Due: none

replace subdirectory by a build script
  .gitignore
  .gitmodules
  libsais64-rs/builder.rs
  libsais64-rs/src/build.rs
Due: none

use an absolute path for the linker
  libsais64-rs/builder.rs
Due: none

make result fields publicly accessible
  sa-index/src/peptide_search.rs
Due: sa-index

public fa fields
  sa-mappings/src/functionality.rs
Due: sa-mappings

buffered writing
  sa-builder/src/main.rs
Due: none

build pbs scripts
  sa-builder/build-compressed.pbs
  sa-builder/build.pbs
Due: sa-builder

timings when building
  sa-builder/src/main.rs
Due: none

update requirements pbs
  sa-builder/build-compressed.pbs
  sa-builder/build.pbs
Due: sa-builder

fix formatting
  libsais64-rs/builder.rs
  sa-builder/src/main.rs
Due: none

Write optimization (#23)
  libsais64-rs/builder.rs
  sa-builder/build-compressed.pbs
  sa-builder/build.pbs
  sa-builder/src/main.rs
Due: sa-builder

remove clean_taxa as it's not implemented correctly and needed + rename equate_il
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-server/src/main.rs
Due: sa-index

taxon requires only 32 bits
  sa-index/src/peptide_search.rs
Due: sa-index

remove LCA calculation from the suffix array + remove UMGAP dependency
  Cargo.lock
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-index/Cargo.toml
  sa-index/src/sa_searcher.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/lib.rs
  sa-mappings/src/proteins.rs
  sa-mappings/src/taxonomy.rs
  sa-server/src/main.rs
Due: sa-builder, sa-index, sa-mappings

only search is needed
  sa-index/src/peptide_search.rs
  sa-server/src/main.rs
Due: sa-index

remove functional processing (this should be part of the API)
  Cargo.lock
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/functionality.rs
  sa-mappings/src/lib.rs
  sa-server/src/main.rs
Due: sa-index, sa-mappings

remove unused functionality + split searchers
  sa-index/src/sa_searcher.rs
  sa-server/src/main.rs
Due: sa-index

formatting
  .rustfmt.toml
  bitarray/src/binary.rs
  bitarray/src/lib.rs
  fa-compression/benches/algorithm1/decode.rs
  fa-compression/benches/algorithm1/encode.rs
  fa-compression/benches/algorithm2/decode.rs
  fa-compression/benches/algorithm2/encode.rs
  fa-compression/benches/util.rs
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/encode.rs
  fa-compression/src/algorithm1/mod.rs
  fa-compression/src/algorithm2/encode.rs
  fa-compression/src/algorithm2/mod.rs
  libsais64-rs/builder.rs
  libsais64-rs/src/lib.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-compression/src/lib.rs
  sa-index/src/binary.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-mappings/src/proteins.rs
  sa-server/src/main.rs
Due: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

Remove some functionality from the suffix array (#24)
  .rustfmt.toml
  Cargo.lock
  bitarray/src/binary.rs
  bitarray/src/lib.rs
  fa-compression/benches/algorithm1/decode.rs
  fa-compression/benches/algorithm1/encode.rs
  fa-compression/benches/algorithm2/decode.rs
  fa-compression/benches/algorithm2/encode.rs
  fa-compression/benches/util.rs
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/encode.rs
  fa-compression/src/algorithm1/mod.rs
  fa-compression/src/algorithm2/encode.rs
  fa-compression/src/algorithm2/mod.rs
  libsais64-rs/builder.rs
  libsais64-rs/src/lib.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-compression/src/lib.rs
  sa-index/Cargo.toml
  sa-index/src/binary.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/functionality.rs
  sa-mappings/src/lib.rs
  sa-mappings/src/proteins.rs
  sa-mappings/src/taxonomy.rs
  sa-server/src/main.rs
Due: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

Implement GitHub action that automatically builds sa binaries
  .devcontainer/devcontainer.json
  .github/workflows/build_index.yml
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  unipept-index.iml
Due: none

Updated the unzip command to take into account output subdir
  .github/workflows/build_index.yml
Due: none

taxons file no longer required for building index
  .github/workflows/build_index.yml
Due: none

Use correct environment variable when uploading file
  .github/workflows/build_index.yml
Due: none

Update zip name
  .github/workflows/build_index.yml
Due: none

Remove redundant subdir from zipped folder
  .github/workflows/build_index.yml
Due: none

Files are tsv instead of tsv.lz4
  .github/workflows/build_index.yml
Due: none

Remove recursive argument from zip
  .github/workflows/build_index.yml
Due: none

Update build_index.yml
  .github/workflows/build_index.yml
Due: none

Finally fix redundant folder in zip
  .github/workflows/build_index.yml
Due: none

Also add the raw uniprot_entries file to the release zip
  .github/workflows/build_index.yml
Due: none

Forgot to also update the ZIP command
  .github/workflows/build_index.yml
Due: none

Remove uniprot_entries.tsv.lz4 again...
  .github/workflows/build_index.yml
Due: none

Update zip structure according to database
  .github/workflows/build_index.yml
Due: none

Add a check for trypticity
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
Due: sa-index

Check the input peptide for tryptic ending as well
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
Due: sa-index

improve checks
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
Due: sa-index, sa-mappings

improve checks
  sa-index/src/sa_searcher.rs
Due: sa-index

Path conditions:
  bitarray: any of: bitarray, but not: **/main.rs
  fa-compression: any of: fa-compression, but not: **/main.rs
  sa-builder: any of: sa-builder, but not: **/main.rs
  sa-compression: any of: sa-compression, but not: **/main.rs
  sa-index: any of: sa-index, but not: **/main.rs
  sa-mappings: any of: sa-mappings, but not: **/main.rs
