Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
      bitarray:
        flags:
          - bitarray
      fa-compression:
        flags:
          - fa-compression
      sa-builder:
        flags:
          - sa-builder
      sa-compression:
        flags:
          - sa-compression
      sa-index:
        target: 80%
        flags:
          - sa-index
      sa-mappings:
        flags:
          - sa-mappings
    patch: off

flags:
  bitarray:
    paths:
      - bitarray
    carryforward: true
  fa-compression:
    paths:
      - fa-compression
    carryforward: true
  sa-builder:
    paths:
      - sa-builder
    carryforward: true
  sa-compression:
    paths:
      - sa-compression
    carryforward: true
  sa-index:
    paths:
      - sa-index
    carryforward: true
  sa-mappings:
    paths:
      - sa-mappings
    carryforward: true

ignore:
  - "**/main.rs" # Ignore main.rs files

Remove some weird comments
  bitarray/src/test_suite.rs
  fa-compression/src/algorithm1/decode.rs
  sa-benchmarks/src/main.rs
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/array/preloaded/original.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/test_utils.rs
  sa-mappings/src/proteins/preloaded.rs
  text-compression/src/lib.rs
  text-compression/src/mmap.rs
  text-compression/src/preloaded.rs
Due: bitarray, fa-compression, sa-index, sa-mappings

sa-server documentation pass
  sa-server/src/lib.rs
  sa-server/src/main.rs
Due: none

text-compression documentation pass
  sa-index/src/sa_searcher/tryptic.rs
  text-compression/src/lib.rs
  text-compression/src/mmap.rs
  text-compression/src/preloaded.rs
Due: sa-index

fa-compression documentation pass
  fa-compression/Cargo.toml
  fa-compression/README.md
  fa-compression/benches/algorithm1/decode.rs
  fa-compression/benches/algorithm1/encode.rs
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/mod.rs
  fa-compression/src/algorithm2/decode.rs
  fa-compression/src/algorithm2/encode.rs
  fa-compression/src/algorithm2/mod.rs
  fa-compression/src/lib.rs
Due: fa-compression

Public API + hugepage changes in bitarray
  .github/workflows/coverage.yml
  Cargo.lock
  Cargo.toml
  README.md
  bitarray/Cargo.toml
  bitarray/src/constant.rs
  bitarray/src/dynamic.rs
  bitarray/src/lib.rs
  codecov.yml
  memory-hints/Cargo.toml
  memory-hints/src/hugepages.rs
  memory-hints/src/lib.rs
  memory-hints/src/prefetch.rs
  prefetch/Cargo.toml
  sa-index/Cargo.toml
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/array/preloaded/original.rs
  sa-index/src/lib.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/dense.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/preloaded.rs
  text-compression/Cargo.toml
  text-compression/src/mmap.rs
  text-compression/src/preloaded.rs
Due: bitarray, sa-index, sa-mappings

protein-metadata instead of mappings
  .github/workflows/coverage.yml
  Cargo.lock
  Cargo.toml
  README.md
  binary-traits/src/lib.rs
  codecov.yml
  memory-hints/src/lib.rs
  protein-metadata/Cargo.toml
  protein-metadata/README.md
  protein-metadata/src/lib.rs
  protein-metadata/src/mmap.rs
  protein-metadata/src/preloaded.rs
  protein-metadata/src/test_utils.rs
  sa-builder/Cargo.toml
  sa-builder/src/main.rs
  sa-builder/tests/build_test.rs
  sa-index/Cargo.toml
  sa-index/src/kmer_table.rs
  sa-index/src/lib.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/measure.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/test_utils.rs
  sa-index/src/sa_searcher/tryptic.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/dense.rs
  sa-index/src/suffix_to_protein_index/preloaded/sparse.rs
  sa-index/src/suffix_to_protein_index/test_utils.rs
  sa-mappings/src/lib.rs
  sa-server/Cargo.toml
  sa-server/src/backends.rs
  text-compression/src/lib.rs
  text-compression/src/mmap.rs
Due: sa-builder, sa-index, sa-mappings

remove page_warmup that was not needed
  protein-metadata/src/mmap.rs
  protein-metadata/src/preloaded.rs
Due: none

documentation pass of sa-index
  README.md
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/mod.rs
  fa-compression/src/algorithm2/decode.rs
  fa-compression/src/algorithm2/mod.rs
  sa-benchmarks/src/main.rs
  sa-builder/src/lib.rs
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/kmer_table.rs
  sa-index/src/lib.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/measure.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/results.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/test_utils.rs
  sa-index/src/sa_searcher/tryptic.rs
  sa-index/src/sa_searcher/tuning.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
Due: fa-compression, sa-builder, sa-index

some sa-index changes
  sa-builder/src/lib.rs
  sa-index/Cargo.toml
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/tryptic.rs
Due: sa-builder, sa-index

update sa-benchmarks
  sa-benchmarks/README.md
  sa-benchmarks/bench/__init__.py
  sa-benchmarks/bench/charts.py
  sa-benchmarks/bench/config.py
  sa-benchmarks/bench/fullreport.py
  sa-benchmarks/bench/html.py
  sa-benchmarks/bench/plot.py
  sa-benchmarks/bench/preflight.py
  sa-benchmarks/bench/profile.py
  sa-benchmarks/bench/records.py
  sa-benchmarks/bench/report.py
  sa-benchmarks/bench/rig.py
  sa-benchmarks/bench/runner.py
  sa-benchmarks/bench/selftest.py
  sa-benchmarks/bench/suites/defaults.py
  sa-benchmarks/bench/suites/kmer.py
  sa-benchmarks/bench/suites/shared.py
  sa-benchmarks/bucket_peptides.sh
  sa-benchmarks/check_answers.sh
  sa-benchmarks/profiles/example.toml
  sa-benchmarks/src/main.rs
  sa-benchmarks/suites/defaults.toml
  sa-benchmarks/suites/kmer.toml
  sa-benchmarks/suites/ram.toml
  sa-benchmarks/suites/startup.toml
  sa-benchmarks/suites/stream.toml
  sa-benchmarks/suites/threads.toml
Due: none

remove measure feature
  .github/workflows/test.yml
  README.md
  sa-benchmarks/Cargo.toml
  sa-benchmarks/README.md
  sa-benchmarks/bench/build.py
  sa-benchmarks/bench/config.py
  sa-benchmarks/bench/fullreport.py
  sa-benchmarks/bench/selftest.py
  sa-benchmarks/bench/suites/defaults.py
  sa-benchmarks/src/main.rs
  sa-benchmarks/suites/defaults.toml
  sa-index/Cargo.toml
  sa-index/src/lib.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/measure.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/scalar.rs
Due: sa-index

Fix clippy
  fa-compression/src/algorithm2/decode.rs
Due: fa-compression

Fix clippy
  bitarray/src/binary.rs
Due: bitarray

Fix clippy
  fa-compression/src/algorithm1/mod.rs
  libsais64-rs/src/bitpacking.rs
  libsais64-rs/src/lib.rs
  protein-metadata/src/preloaded.rs
  sa-benchmarks/src/generate_peptides.rs
  sa-index/src/array/preloaded/original.rs
  sa-index/src/sa_searcher/tryptic.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
Due: fa-compression, sa-index

Update the README files for all the crates
  README.md
  binary-traits/README.md
  bitarray/README.md
  fa-compression/README.md
  libsais64-rs/README.md
  memory-hints/README.md
  protein-metadata/README.md
  protein-metadata/src/lib.rs
  protein-metadata/src/mmap.rs
  protein-text/README.md
  protein-text/src/lib.rs
  sa-benchmarks/README.md
  sa-builder/README.md
  sa-index/README.md
  sa-index/src/lib.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-server/README.md
  sa-server/src/backends.rs
Due: bitarray, fa-compression, sa-builder, sa-index

Verify docstring numbers
  README.md
  memory-hints/src/hugepages.rs
  memory-hints/src/lib.rs
  protein-metadata/src/preloaded.rs
  sa-benchmarks/README.md
  sa-builder/src/lib.rs
  sa-index/README.md
  sa-index/src/lib.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/tuning.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
Due: sa-builder, sa-index

Make fbc9328 loadable at full-database scale, and fix the answer gate
  Cargo.lock
  sa-benchmarks/Cargo.toml
  sa-benchmarks/README.md
  sa-benchmarks/check_answers_cross.sh
  sa-benchmarks/src/main.rs
Due: none

Carry the five-arm branch-side suites
  sa-benchmarks/branch-side/suites/baseline.toml
  sa-benchmarks/branch-side/suites/baseline_startup.toml
Due: none

Sweep the whole of proteins.bin, not just its fixed-width regions
  sa-benchmarks/README.md
  sa-benchmarks/branch-side/suites/baseline.toml
  sa-benchmarks/src/main.rs
Due: none

Sync the branch-side baseline suite notes
  sa-benchmarks/branch-side/suites/baseline.toml
Due: none

Overhaul CI: one workflow, real triggers, Dependabot, and a verified index build
  .github/actions-rs/grcov.yml
  .github/dependabot.yml
  .github/workflows/audit.yml
  .github/workflows/build_index.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  README.md
  binary-traits/README.md
  bitarray/README.md
  codecov.yml
  fa-compression/README.md
  libsais64-rs/README.md
  libsais64-rs/builder.rs
  memory-hints/README.md
  protein-metadata/README.md
  protein-text/README.md
  sa-benchmarks/README.md
  sa-builder/README.md
  sa-builder/src/lib.rs
  sa-index/README.md
  sa-server/README.md
Due: bitarray, fa-compression, sa-builder, sa-index

Clear the advisories the new audit gate found
  Cargo.lock
  protein-metadata/Cargo.toml
  protein-metadata/src/mmap.rs
  protein-metadata/src/preloaded.rs
  protein-metadata/src/test_utils.rs
Due: none

Dependabot: monthly at 13:00 Brussels, ungrouped, limit 99
  .github/dependabot.yml
  .github/workflows/audit.yml
Due: none

Simplify dependabot configuration by removing prefixes
  .github/dependabot.yml
Due: none

Migrate benches to rand 0.10 and criterion 0.8
  Cargo.lock
  fa-compression/Cargo.toml
  fa-compression/benches/algorithm1/decode.rs
  fa-compression/benches/algorithm1/encode.rs
  fa-compression/benches/algorithm2/decode.rs
  fa-compression/benches/algorithm2/encode.rs
  fa-compression/benches/util.rs
  sa-benchmarks/Cargo.toml
  sa-benchmarks/src/generate_peptides.rs
  sa-benchmarks/src/main.rs
Due: fa-compression

Migrate the RSS reading to sysinfo 0.39
  Cargo.lock
  sa-benchmarks/Cargo.toml
  sa-benchmarks/src/main.rs
Due: none

CI: one workflow, real triggers, Dependabot and an audit gate
  .git-blame-ignore-revs
  .github/actions-rs/grcov.yml
  .github/dependabot.yml
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
  .rustfmt.toml
  codecov.yml
  rust-toolchain.toml
Due: none

Replace tempdir with tempfile in test helpers
  sa-index/Cargo.toml
  sa-index/src/array/mod.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/proteins.rs
Due: sa-index, sa-mappings

Clear the nine clippy warnings the new gate reports
  Cargo.lock
  bitarray/src/binary.rs
  fa-compression/src/algorithm1/mod.rs
  fa-compression/src/algorithm2/decode.rs
  libsais64-rs/src/lib.rs
  sa-index/src/array/original.rs
  text-compression/src/lib.rs
Due: bitarray, fa-compression, sa-index

cargo fmt --all
  bitarray/src/binary.rs
  fa-compression/src/algorithm1/mod.rs
  libsais64-rs/builder.rs
  libsais64-rs/src/lib.rs
  sa-builder/src/main.rs
  sa-builder/tests/build_test.rs
  sa-index/src/array/compressed.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/original.rs
  sa-index/src/lib.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/sparse.rs
  sa-mappings/src/proteins.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
  text-compression/src/lib.rs
  text-compression/src/traits.rs
Due: bitarray, fa-compression, sa-builder, sa-index, sa-mappings

Add memory-hints: prefetch, huge pages and mapping warmup
  Cargo.lock
  Cargo.toml
  memory-hints/Cargo.toml
  memory-hints/README.md
  memory-hints/src/hugepages.rs
  memory-hints/src/lib.rs
  memory-hints/src/prefetch.rs
  memory-hints/src/warmup.rs
Due: none

Add binary-traits: the I/O traits every index structure is read through
  Cargo.lock
  Cargo.toml
  binary-traits/Cargo.toml
  binary-traits/README.md
  binary-traits/src/lib.rs
Due: none

Add protein-metadata: accessions and annotations, in two backends
  Cargo.lock
  Cargo.toml
  protein-metadata/Cargo.toml
  protein-metadata/README.md
  protein-metadata/src/lib.rs
  protein-metadata/src/mmap.rs
  protein-metadata/src/preloaded.rs
  protein-metadata/src/test_utils.rs
Due: none

bitarray: add a const-generic BitArray alongside the dynamic one
  Cargo.lock
  bitarray/Cargo.toml
  bitarray/README.md
  bitarray/src/binary.rs
  bitarray/src/constant.rs
  bitarray/src/dynamic.rs
  bitarray/src/lib.rs
  bitarray/src/test_suite.rs
  sa-index/src/array/compressed.rs
  sa-index/src/array/mod.rs
  text-compression/src/lib.rs
Due: bitarray, sa-index

Add protein-text: the concatenated protein text, in two backends
  Cargo.lock
  Cargo.toml
  protein-text/Cargo.toml
  protein-text/README.md
  protein-text/src/lib.rs
  protein-text/src/mmap.rs
  protein-text/src/preloaded.rs
  protein-text/src/test_utils.rs
Due: none

fa-compression: streaming decode, and the bench deps it needs
  Cargo.lock
  fa-compression/Cargo.toml
  fa-compression/README.md
  fa-compression/benches/algorithm1/decode.rs
  fa-compression/benches/algorithm1/encode.rs
  fa-compression/benches/algorithm2/decode.rs
  fa-compression/benches/algorithm2/encode.rs
  fa-compression/benches/util.rs
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/mod.rs
  fa-compression/src/algorithm2/decode.rs
  fa-compression/src/algorithm2/encode.rs
  fa-compression/src/algorithm2/mod.rs
  fa-compression/src/lib.rs
Due: fa-compression
