Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

sa-index: add both suffix-to-protein backends behind a trait
  Cargo.lock
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-builder/tests/build_test.rs
  sa-index/Cargo.toml
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/legacy/bitvec.rs
  sa-index/src/suffix_to_protein_index/legacy/dense.rs
  sa-index/src/suffix_to_protein_index/legacy/mod.rs
  sa-index/src/suffix_to_protein_index/legacy/sparse.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/mmap/sparse.rs
  sa-index/src/suffix_to_protein_index/mmap/test_utils.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/dense.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/sparse.rs
  sa-index/src/suffix_to_protein_index/preloaded/test_utils.rs
  sa-index/src/suffix_to_protein_index/test_utils.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
Due: sa-builder, sa-index

sa-index: add both suffix-array backends behind a trait
  Cargo.lock
  sa-index/Cargo.toml
  sa-index/src/array/legacy/compressed.rs
  sa-index/src/array/legacy/mmap.rs
  sa-index/src/array/legacy/mod.rs
  sa-index/src/array/legacy/original.rs
  sa-index/src/array/mmap/mod.rs
  sa-index/src/array/mmap/test_utils.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded/compressed.rs
  sa-index/src/array/preloaded/mod.rs
  sa-index/src/array/preloaded/original.rs
  sa-index/src/array/preloaded/test_utils.rs
  sa-index/src/array/test_utils.rs
Due: sa-index

sa-index: rework peptide_search onto the new searcher
  sa-index/src/peptide_search.rs
Due: sa-index

sa-index: the new searcher, generic over every storage backend
  sa-index/Cargo.toml
  sa-index/src/kmer_table.rs
  sa-index/src/lib.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
  sa-index/src/sa_searcher/results.rs
  sa-index/src/sa_searcher/retrieval.rs
  sa-index/src/sa_searcher/scalar.rs
  sa-index/src/sa_searcher/test_utils.rs
  sa-index/src/sa_searcher/tryptic.rs
  sa-index/src/sa_searcher/tuning.rs
Due: sa-index

sa-builder and sa-server: move onto the new API
  Cargo.lock
  sa-builder/Cargo.toml
  sa-builder/README.md
  sa-builder/build-compressed.pbs
  sa-builder/build.pbs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-builder/tests/build_test.rs
  sa-server/Cargo.toml
  sa-server/README.md
  sa-server/src/backends.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
Due: sa-builder

Delete the transition scaffolding and the superseded crates
  Cargo.lock
  Cargo.toml
  sa-index/src/array/legacy/compressed.rs
  sa-index/src/array/legacy/mmap.rs
  sa-index/src/array/legacy/mod.rs
  sa-index/src/array/legacy/original.rs
  sa-index/src/array/mod.rs
  sa-index/src/suffix_to_protein_index/legacy/bitvec.rs
  sa-index/src/suffix_to_protein_index/legacy/dense.rs
  sa-index/src/suffix_to_protein_index/legacy/mod.rs
  sa-index/src/suffix_to_protein_index/legacy/sparse.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-mappings/Cargo.toml
  sa-mappings/README.md
  sa-mappings/src/lib.rs
  sa-mappings/src/proteins.rs
  text-compression/Cargo.toml
  text-compression/src/lib.rs
  text-compression/src/traits.rs
Due: sa-index, sa-mappings

Add the sa-benchmarks measurement harness (Rust side)
  Cargo.lock
  Cargo.toml
  sa-benchmarks/Cargo.toml
  sa-benchmarks/build.rs
  sa-benchmarks/src/generate_peptides.rs
  sa-benchmarks/src/main.rs
Due: none

sa-benchmarks: the Python driver core
  sa-benchmarks/bench/__init__.py
  sa-benchmarks/bench/build.py
  sa-benchmarks/bench/config.py
  sa-benchmarks/bench/grid.py
  sa-benchmarks/bench/preflight.py
  sa-benchmarks/bench/profile.py
  sa-benchmarks/bench/progress.py
  sa-benchmarks/bench/records.py
  sa-benchmarks/bench/rig.py
  sa-benchmarks/bench/runner.py
Due: none

sa-benchmarks: chart and HTML report rendering
  sa-benchmarks/bench/charts.py
  sa-benchmarks/bench/html.py
  sa-benchmarks/bench/report.py
Due: none

sa-benchmarks: the suite definitions
  sa-benchmarks/bench/suites/__init__.py
  sa-benchmarks/bench/suites/defaults.py
  sa-benchmarks/bench/suites/generic.py
  sa-benchmarks/bench/suites/kmer.py
  sa-benchmarks/bench/suites/ram.py
  sa-benchmarks/bench/suites/shared.py
  sa-benchmarks/bench/suites/startup.py
  sa-benchmarks/bench/suites/stream.py
  sa-benchmarks/bench/suites/threads.py
  sa-benchmarks/profiles/example.toml
  sa-benchmarks/suites/all.toml
  sa-benchmarks/suites/defaults.toml
  sa-benchmarks/suites/kmer.toml
  sa-benchmarks/suites/ram.toml
  sa-benchmarks/suites/startup.toml
  sa-benchmarks/suites/stream.toml
  sa-benchmarks/suites/threads.toml
Due: none

sa-benchmarks: entry points, self-test and the runbook
  sa-benchmarks/README.md
  sa-benchmarks/bench/__main__.py
  sa-benchmarks/bench/fullreport.py
  sa-benchmarks/bench/selftest.py
  sa-benchmarks/check_answers.sh
  sa-benchmarks/run.sh
Due: none

Rewrite the root README and add the sa-index one
  README.md
  sa-index/README.md
Due: sa-index

CI: add the jobs that were waiting on their crates
  .github/workflows/build_index.yml
  .github/workflows/ci.yml
Due: none

Update the lockfile to current dependency versions
  Cargo.lock
Due: none

Update the lockfile to clear the advisories the audit gate reports
  Cargo.lock
Due: none

Trim the historic and stale comments in ci.yml
  .github/workflows/ci.yml
Due: none

Drop the matrix rationale from the test job
  .github/workflows/ci.yml
Due: none

Spare main from concurrency cancellation too
  .github/workflows/ci.yml
Due: none

Hold the build gates to the committed lockfile
  .github/workflows/ci.yml
Due: none

Document the safety of the three libsais FFI calls
  libsais64-rs/src/lib.rs
Due: none

Name the workflows that actually override the toolchain
  .github/workflows/build_index.yml
  rust-toolchain.toml
Due: none

Remove .git-blame-ignore-revs
  .git-blame-ignore-revs
  .github/dependabot.yml
  rust-toolchain.toml
Due: none

CI: one workflow, real gates, and the backlog they surface (#57)
  .github/actions-rs/grcov.yml
  .github/dependabot.yml
  .github/workflows/audit.yml
  .github/workflows/build_index.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
  .rustfmt.toml
  Cargo.lock
  bitarray/src/binary.rs
  codecov.yml
  fa-compression/src/algorithm1/mod.rs
  fa-compression/src/algorithm2/decode.rs
  libsais64-rs/builder.rs
  libsais64-rs/src/lib.rs
  rust-toolchain.toml
  sa-builder/src/main.rs
  sa-builder/tests/build_test.rs
  sa-index/Cargo.toml
  sa-index/src/array/compressed.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/original.rs
  sa-index/src/lib.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/sparse.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/proteins.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
  text-compression/src/lib.rs
  text-compression/src/traits.rs
Due: bitarray, fa-compression, sa-builder, sa-index, sa-mappings

Add binary-traits: the I/O traits every index structure is read through
  Cargo.lock
  Cargo.toml
  binary-traits/Cargo.toml
  binary-traits/README.md
  binary-traits/src/lib.rs
Due: none

Say what LoadIndex expresses, not what it replaced
  binary-traits/src/lib.rs
Due: none

Export the BufReader capacity the readers are calibrated against
  binary-traits/src/lib.rs
Due: none

State the hugepages ordering rule without the history
  memory-hints/src/hugepages.rs
Due: none

Count three hints in the crate docs
  memory-hints/src/lib.rs
Due: none

Drop the historic sentences from the memory-hints README
  memory-hints/README.md
Due: none

Drop the relocation history from touch_all_pages
  memory-hints/src/warmup.rs
Due: none

Add memory-hints: prefetch, huge pages and mapping warmup
  Cargo.lock
  Cargo.toml
  memory-hints/Cargo.toml
  memory-hints/README.md
  memory-hints/src/hugepages.rs
  memory-hints/src/lib.rs
  memory-hints/src/prefetch.rs
  memory-hints/src/warmup.rs
Due: none

Make the aarch64 SAFETY comment argue for the option it uses
  memory-hints/src/prefetch.rs
Due: none

Slice the mapping once in touch_all_pages, and document the panic
  memory-hints/src/warmup.rs
Due: none

fa-compression: streaming decode, and the bench deps it needs
  Cargo.lock
  fa-compression/Cargo.toml
  fa-compression/README.md
  fa-compression/benches/algorithm1/decode.rs
  fa-compression/benches/algorithm1/encode.rs
  fa-compression/benches/algorithm2/decode.rs
  fa-compression/benches/algorithm2/encode.rs
  fa-compression/benches/util.rs
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/mod.rs
  fa-compression/src/algorithm2/decode.rs
  fa-compression/src/algorithm2/encode.rs
  fa-compression/src/algorithm2/mod.rs
  fa-compression/src/lib.rs
Due: fa-compression

State the decoder's separator rule without the history
  fa-compression/src/algorithm1/mod.rs
Due: fa-compression

Name fa-compression's actual consumer in the README
  fa-compression/README.md
Due: fa-compression

Defend the real bound in FmtSink::write
  fa-compression/src/algorithm1/decode.rs
Due: fa-compression

Stop FmtSink accepting writes after a formatter error
  fa-compression/src/algorithm1/decode.rs
Due: fa-compression

Assert a table index fits the three bytes encode stores
  fa-compression/src/algorithm2/encode.rs
Due: fa-compression

bitarray: add a const-generic BitArray alongside the dynamic one
  Cargo.lock
  bitarray/Cargo.toml
  bitarray/README.md
  bitarray/src/binary.rs
  bitarray/src/constant.rs
  bitarray/src/dynamic.rs
  bitarray/src/lib.rs
  bitarray/src/test_suite.rs
  sa-index/src/array/compressed.rs
  sa-index/src/array/mod.rs
  text-compression/src/lib.rs
Due: bitarray, sa-index

Path conditions:
  bitarray: any of: bitarray, but not: **/main.rs
  fa-compression: any of: fa-compression, but not: **/main.rs
  sa-builder: any of: sa-builder, but not: **/main.rs
  sa-compression: any of: sa-compression, but not: **/main.rs
  sa-index: any of: sa-index, but not: **/main.rs
  sa-mappings: any of: sa-mappings, but not: **/main.rs
