Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: fa-compression, sa-mappings

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
      fa-compression:
        target: 90%
        flags:
          - fa-compression
      sa-mappings:
        target: 90%
        flags:
          - sa-mappings
    patch:
      default:
        target: 90%
      fa-compression:
        target: 90%
        flags:
          - fa-compression
      sa-mappings:
        target: 90%
        flags:
          - sa-mappings

flags:
  fa-compression:
    paths:
      - fa-compression
    carryforward: true
  sa-mappings:
    paths:
      - sa-mappings
    carryforward: true

aggregation (#18) (#19)
  .github/workflows/coverage.yml
  Cargo.lock
  Cargo.toml
  codecov.yml
  sa-mappings/Cargo.toml
  sa-mappings/src/functionality.rs
  sa-mappings/src/lib.rs
  sa-mappings/src/proteins.rs
  sa-mappings/src/taxonomy.rs
Due: sa-mappings

add sa folders
  Cargo.lock
  Cargo.toml
  sa-builder/Cargo.toml
  sa-builder/src/main.rs
  sa-index/Cargo.toml
  sa-index/src/main.rs
Due: none

update readme files
  fa-compression/README.md
  sa-mappings/README.md
Due: fa-compression, sa-mappings

add placeholder folder for the suffix array server
  Cargo.toml
  sa-server/Cargo.toml
  sa-server/src/main.rs
Due: none

move all suffix array code from personal repo to unipept repo
  .gitmodules
  Cargo.lock
  Cargo.toml
  libsais64-rs/Cargo.toml
  libsais64-rs/builder.rs
  libsais64-rs/libsais-wrapper.h
  libsais64-rs/src/lib.rs
  sa-builder/Cargo.toml
  sa-builder/build_suffix_array.pbs
  sa-builder/src/binary.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-index/Cargo.toml
  sa-index/src/lib.rs
  sa-index/src/main.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-index/src/util.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/functionality.rs
  sa-mappings/src/proteins.rs
  sa-mappings/src/taxonomy.rs
  sa-server/Cargo.toml
  sa-server/src/main.rs
Due: sa-mappings

ignore untracked files rom submodule
  .gitmodules
Due: none

run cargo fmt
  fa-compression/benches/algorithm1/decode.rs
  fa-compression/benches/algorithm1/encode.rs
  fa-compression/benches/algorithm2/decode.rs
  fa-compression/benches/algorithm2/encode.rs
  fa-compression/benches/util.rs
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/encode.rs
  fa-compression/src/algorithm1/mod.rs
  fa-compression/src/algorithm2/encode.rs
  fa-compression/src/algorithm2/mod.rs
  libsais64-rs/builder.rs
  libsais64-rs/src/lib.rs
  sa-builder/src/binary.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-index/src/lib.rs
  sa-index/src/main.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-index/src/util.rs
  sa-mappings/src/functionality.rs
  sa-mappings/src/proteins.rs
  sa-mappings/src/taxonomy.rs
  sa-server/src/main.rs
Due: fa-compression, sa-mappings

filter away empty fa
  sa-mappings/src/functionality.rs
Due: sa-mappings

update actions to checkout submodules
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

add extra tests
  sa-mappings/src/functionality.rs
  sa-mappings/src/proteins.rs
  sa-mappings/src/taxonomy.rs
Due: sa-mappings

format test code
  sa-mappings/src/functionality.rs
  sa-mappings/src/taxonomy.rs
Due: sa-mappings

bitarray compression
  Cargo.lock
  Cargo.toml
  bitarray/Cargo.toml
  bitarray/src/binary.rs
  bitarray/src/lib.rs
Due: none

add coverage for bitarray and small README
  .github/workflows/coverage.yml
  bitarray/README.md
  bitarray/src/lib.rs
  codecov.yml
Due: none

document library
  bitarray/src/binary.rs
  bitarray/src/lib.rs
Due: none

cargo formatting + better panic message in testing
  bitarray/src/binary.rs
  bitarray/src/lib.rs
Due: none

add is_empty method for clippy
  bitarray/src/lib.rs
Due: none

cargo formatting
  bitarray/src/lib.rs
Due: none

function to compress data without having to store everything in memory
  bitarray/src/binary.rs
  bitarray/src/lib.rs
Due: none

compressed integration + some major refactoring
  Cargo.lock
  Cargo.toml
  bitarray/src/lib.rs
  sa-builder/Cargo.toml
  sa-builder/src/binary.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-compression/Cargo.toml
  sa-compression/src/lib.rs
  sa-index/Cargo.toml
  sa-index/src/binary.rs
  sa-index/src/lib.rs
  sa-index/src/main.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/util.rs
  sa-server/Cargo.toml
  sa-server/src/main.rs
Due: none

dynamic resuired bits per value
  bitarray/src/binary.rs
  bitarray/src/lib.rs
  sa-builder/src/main.rs
  sa-compression/src/lib.rs
  sa-index/src/binary.rs
  sa-index/src/lib.rs
  sa-server/src/main.rs
Due: none

update tests and documentation
  bitarray/src/lib.rs
  sa-builder/src/lib.rs
  sa-compression/src/lib.rs
  sa-index/src/binary.rs
  sa-index/src/lib.rs
Due: none

update coverage config
  .github/workflows/coverage.yml
  codecov.yml
Due: none

fmt + clippy
  bitarray/src/binary.rs
  bitarray/src/lib.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-compression/src/lib.rs
  sa-index/src/binary.rs
  sa-index/src/lib.rs
  sa-index/src/sa_searcher.rs
  sa-server/src/main.rs
Due: none

format --all
  sa-index/src/binary.rs
Due: none

improve testing
  bitarray/src/binary.rs
  bitarray/src/lib.rs
  sa-builder/src/lib.rs
  sa-compression/src/lib.rs
  sa-index/src/binary.rs
  sa-index/src/lib.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-mappings/src/functionality.rs
Due: sa-mappings

formatting
  bitarray/src/lib.rs
  sa-builder/src/lib.rs
  sa-compression/src/lib.rs
  sa-index/src/binary.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-mappings/src/functionality.rs
Due: sa-mappings

fix bitarray tests
  bitarray/src/lib.rs
  sa-mappings/src/functionality.rs
Due: sa-mappings

some additional smaller tests
  Cargo.lock
  sa-index/Cargo.toml
  sa-index/out.txt
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/src/taxonomy.rs
Due: sa-mappings

add back SA search tests
  Cargo.lock
  sa-index/Cargo.toml
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
Due: sa-mappings

add back SA search tests (#22)
  Cargo.lock
  sa-index/Cargo.toml
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
Due: sa-mappings

update codecov config
  codecov.yml
Due: none

ignore main files when covering code
  codecov.yml
Due: none

test failing reader and writer in test module
  sa-compression/src/lib.rs
Due: none

small cleanup
  sa-builder/README.md
  sa-builder/src/lib.rs
Due: none

small cleanup
  README.md
  sa-index/out.txt
Due: none

some debug information
  sa-builder/src/main.rs
Due: none

allow preliminary enzyme numbers (x.x.x.nx)
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/encode.rs
  fa-compression/src/algorithm1/mod.rs
Due: fa-compression

encode functional annotations on load
  sa-mappings/src/proteins.rs
Due: sa-mappings

more debug info + some movement of SA code
  .gitignore
  Cargo.lock
  bitarray/src/lib.rs
  fa-compression/src/algorithm1/decode.rs
  fa-compression/src/algorithm1/encode.rs
  fa-compression/src/algorithm1/mod.rs
  sa-builder/src/main.rs
  sa-compression/Cargo.toml
  sa-compression/src/lib.rs
  sa-index/src/binary.rs
  sa-index/src/lib.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
  sa-server/src/main.rs
Due: fa-compression, sa-mappings
