Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
      bitarray:
        flags:
          - bitarray
      fa-compression:
        flags:
          - fa-compression
      sa-builder:
        flags:
          - sa-builder
      sa-compression:
        flags:
          - sa-compression
      sa-index:
        target: 80%
        flags:
          - sa-index
      sa-mappings:
        flags:
          - sa-mappings
    patch: off

flags:
  bitarray:
    paths:
      - bitarray
    carryforward: true
  fa-compression:
    paths:
      - fa-compression
    carryforward: true
  sa-builder:
    paths:
      - sa-builder
    carryforward: true
  sa-compression:
    paths:
      - sa-compression
    carryforward: true
  sa-index:
    paths:
      - sa-index
    carryforward: true
  sa-mappings:
    paths:
      - sa-mappings
    carryforward: true

ignore:
  - "**/main.rs" # Ignore main.rs files

allow all sparseness factors
  libsais64-rs/src/lib.rs
  sa-builder/src/lib.rs
Due: sa-builder

minor changes
  Cargo.toml
  sa-builder/src/main.rs
Due: none

add support for 8-bit libsais text
  libsais64-rs/libsais-wrapper.h
  libsais64-rs/src/bitpacking.rs
  libsais64-rs/src/lib.rs
  sa-builder/src/lib.rs
Due: sa-builder

add comments + do not bitpack text sparseness is 1
  libsais64-rs/src/bitpacking.rs
  libsais64-rs/src/lib.rs
Due: none

add comments
  sa-builder/src/lib.rs
Due: sa-builder

add comment
  libsais64-rs/src/bitpacking.rs
Due: none

run clippy
  libsais64-rs/src/bitpacking.rs
  sa-builder/src/lib.rs
Due: sa-builder

cargo fmt
  fa-compression/benches/algorithm2/decode.rs
  fa-compression/benches/algorithm2/encode.rs
  fa-compression/benches/util.rs
  libsais64-rs/src/bitpacking.rs
  libsais64-rs/src/lib.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-compression/src/lib.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
  sa-server/src/main.rs
  text-compression/src/lib.rs
Due: fa-compression, sa-builder, sa-compression, sa-index

allow sparseness 6 for libsais
  sa-builder/README.md
  sa-builder/src/lib.rs
Due: sa-builder

keep bitpacked text owned before use
  libsais64-rs/src/lib.rs
Due: none

set max sparseness to 5
  sa-builder/src/lib.rs
Due: sa-builder

take ownership of text when bitpacking, don't keep both texts in memory
  libsais64-rs/src/bitpacking.rs
  libsais64-rs/src/lib.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
Due: sa-builder

adapt tests to pass text not as reference
  sa-builder/src/lib.rs
Due: sa-builder

cargo fmt
  libsais64-rs/src/lib.rs
Due: none

cargo clippy
  sa-builder/src/lib.rs
Due: sa-builder

change link to unipept-libsais to https
  libsais64-rs/builder.rs
Due: none

adjust usage of libsais-packed
  libsais64-rs/builder.rs
  libsais64-rs/libsais-wrapper.h
Due: none

.gitignore fix
  .devcontainer/devcontainer.json
  .github/workflows/lint.yml
  .idea/.gitignore
  .idea/modules.xml
  .idea/vcs.xml
  unipept-index.iml
Due: none

Replace ssh git clone by http
  .devcontainer/devcontainer.json
  libsais64-rs/builder.rs
Due: none

add libclang to devcontainer to compile libsais-packed
  .devcontainer/devcontainer.json
Due: none

Fix linter, fix linter issues and temporary disable coverage workflow
  .github/workflows/coverage.yml
  bitarray/src/binary.rs
  bitarray/src/lib.rs
  fa-compression/src/algorithm1/mod.rs
  libsais64-rs/builder.rs
  libsais64-rs/src/bitpacking.rs
  sa-builder/src/lib.rs
  sa-compression/src/lib.rs
  sa-index/src/lib.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
  text-compression/src/lib.rs
Due: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

Add gitmodules file for libsais-packed
  .gitmodules
Due: none

Removed README from sa-builder, has been moved to wiki
  sa-builder/README.md
Due: sa-builder

Add libsais-packed to ignore
  .gitignore
Due: none

Deleted gitmodules file
  .gitmodules
Due: none

Update build.pbs to latest sa-builder
  sa-builder/build.pbs
Due: sa-builder

Update build-compressed.pbs
  sa-builder/build-compressed.pbs
Due: sa-builder

Set compressed to false for non-compressed build script
  sa-builder/build.pbs
Due: sa-builder

Change docs for compressed to default = false (instead of true)
  sa-builder/src/lib.rs
Due: sa-builder

Update suffix_array.zip name
  .github/workflows/build_index.yml
Due: none

Add searcher using a bitvec for suffix to protein mappings
  Cargo.lock
  sa-index/Cargo.toml
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index.rs
Due: sa-index

add deref trait for BitVecSearcher
  sa-index/src/sa_searcher.rs
Due: sa-index

fix linter errors
  sa-index/src/suffix_to_protein_index.rs
Due: sa-index

Use bitvecsuffixtoprotein for tests, add specific test for sparsesuffixtoprotein and densesuffixtoprotein
  sa-index/src/sa_searcher.rs
Due: sa-index

Fix warnings generated by new version of Clippy
  bitarray/src/binary.rs
  sa-compression/src/lib.rs
  sa-index/src/binary.rs
  text-compression/src/lib.rs
Due: bitarray, sa-compression, sa-index

Implemented FM-index
  Cargo.toml
  bitarray/src/lib.rs
  fm-builder/Cargo.toml
  fm-builder/src/lib.rs
  fm-builder/src/main.rs
  fm-index/Cargo.toml
  fm-index/src/lib.rs
  fm-index/src/main.rs
  sa-builder/src/lib.rs
Due: bitarray, sa-builder

bidirectional FM-index
  fm-builder/src/lib.rs
  fm-index/src/lib.rs
  fm-index/src/main.rs
Due: none

approximate search with search schemes - not working yet
  fm-index/src/banded_matrix.rs
  fm-index/src/fm_index.rs
  fm-index/src/lib.rs
  fm-index/src/main.rs
  fm-index/src/search.rs
  fm-index/src/search_pattern.rs
  fm-index/src/search_scheme.rs
Due: none

dynamicallly retrieve alphabet + bugfix approximate search
  fm-builder/src/lib.rs
  fm-index/src/fm_index.rs
  fm-index/src/main.rs
  fm-index/src/search.rs
  fm-index/src/search_pattern.rs
Due: none
