Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
      bitarray:
        flags:
          - bitarray
      fa-compression:
        flags:
          - fa-compression
      sa-builder:
        flags:
          - sa-builder
      sa-compression:
        flags:
          - sa-compression
      sa-index:
        target: 80%
        flags:
          - sa-index
      sa-mappings:
        flags:
          - sa-mappings
    patch: off

flags:
  bitarray:
    paths:
      - bitarray
    carryforward: true
  fa-compression:
    paths:
      - fa-compression
    carryforward: true
  sa-builder:
    paths:
      - sa-builder
    carryforward: true
  sa-compression:
    paths:
      - sa-compression
    carryforward: true
  sa-index:
    paths:
      - sa-index
    carryforward: true
  sa-mappings:
    paths:
      - sa-mappings
    carryforward: true

ignore:
  - "**/main.rs" # Ignore main.rs files

Fix some extra reviews
  sa-index/src/array/mod.rs
  sa-mappings/src/proteins.rs
Due: sa-index, sa-mappings

Fix clippy
  sa-index/src/array/mod.rs
Due: sa-index

Add code to benchmark in between optimizations
  .gitignore
  Cargo.lock
  Cargo.toml
  sa-benchmarks/Cargo.toml
  sa-benchmarks/build.rs
  sa-benchmarks/plot.py
  sa-benchmarks/src/main.rs
Due: none

Read peptides from a file, so we record more hits for the benchmarking
  .gitignore
  Cargo.lock
  sa-benchmarks/Cargo.toml
  sa-benchmarks/src/generate_peptides.rs
  sa-benchmarks/src/main.rs
Due: none

Some benching fixes + small changes to text loader to prevent creating an intermediate buffer
  sa-benchmarks/src/main.rs
  text-compression/src/lib.rs
Due: none

Update plot script
  sa-benchmarks/plot.py
Due: none

6-mer table implementation for initial k-mer bounds cache testing
  sa-benchmarks/src/main.rs
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-index/src/kmer_table.rs
  sa-index/src/lib.rs
  sa-index/src/sa_searcher.rs
  sa-server/src/lib.rs
  sa-server/src/main.rs
Due: sa-builder, sa-index

Provide a multithreaded approach to build the table. For now add the 5 stupid amino acids for testing purposes
  sa-index/src/kmer_table.rs
Due: sa-index

Add some monitoring as a test
  sa-index/src/kmer_table.rs
Due: sa-index

Code to just build the 6-mer once for now
  sa-benchmarks/src/main.rs
Due: none

Revert to normal code
  sa-benchmarks/src/main.rs
Due: none

Add extra timings and targeted prefetching of OS page cache
  sa-benchmarks/src/main.rs
  sa-index/src/array/mod.rs
  sa-index/src/sa_searcher.rs
Due: sa-index

Some more prefetching to handle the random accesses
  sa-index/src/array/mod.rs
  sa-index/src/sa_searcher.rs
Due: sa-index

Prefetch for proteins as well
  sa-index/src/array/mod.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-index/src/suffix_to_protein_index/mod.rs
Due: sa-index

More protein prefetching test
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
Due: sa-index, sa-mappings

prefetch the text as well
  sa-index/src/sa_searcher.rs
  text-compression/src/lib.rs
Due: sa-index

small fix
  sa-index/src/sa_searcher.rs
Due: sa-index

Revert changes
  sa-index/src/sa_searcher.rs
  text-compression/src/lib.rs
Due: sa-index

Possible optimization for mmap
  sa-index/src/array/mmap.rs
  sa-index/src/array/mod.rs
  sa-index/src/sa_searcher.rs
Due: sa-index

Add an option to warm the entire mmap structure
  sa-benchmarks/src/main.rs
  sa-index/src/array/mod.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/sparse.rs
  sa-mappings/src/proteins.rs
Due: sa-index, sa-mappings

Speed up sequential reading
  sa-index/src/array/mod.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-index/src/suffix_to_protein_index/sparse.rs
Due: sa-index

Speed up sequential reading
  sa-benchmarks/src/main.rs
  sa-mappings/src/proteins.rs
Due: sa-mappings

Do not build a k-mer index if no file is provided
  sa-server/src/main.rs
Due: none

Do not build a k-mer index if no file is provided
  sa-benchmarks/src/main.rs
Due: none

The iteration step was slow for small peptides. We try to improve this by more prefetching and isolating an early return path for the default parameters
  Cargo.lock
  Cargo.toml
  prefetch/Cargo.toml
  prefetch/src/lib.rs
  sa-index/Cargo.toml
  sa-index/src/array/mod.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/proteins.rs
  text-compression/Cargo.toml
  text-compression/src/lib.rs
Due: sa-index, sa-mappings

Size hints so the iterators are length-initialized from the start
  sa-index/src/array/mmap.rs
  sa-index/src/array/mod.rs
Due: sa-index

First cleanup pass over the changes in this branch
  sa-benchmarks/src/main.rs
  sa-index/src/array/mod.rs
  sa-index/src/kmer_table.rs
  sa-index/src/sa_searcher.rs
Due: sa-index

Second cleanup pass for the sa_searcher
  sa-index/src/sa_searcher.rs
Due: sa-index

is_mmap_backend addition to skip no-ops
  sa-index/src/sa_searcher.rs
  text-compression/src/lib.rs
Due: sa-index

Ranged iterator for the bitarray
  .gitignore
  bitarray/src/lib.rs
  sa-index/src/array/mod.rs
Due: bitarray, sa-index

Compile flag for mmap so everything separates more nicely, and it is easier to perform optimizations separately.
  sa-benchmarks/Cargo.toml
  sa-benchmarks/src/generate_peptides.rs
  sa-benchmarks/src/main.rs
  sa-index/Cargo.toml
  sa-index/src/array/mod.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/sparse.rs
  sa-mappings/Cargo.toml
  sa-mappings/src/proteins.rs
  sa-server/Cargo.toml
  sa-server/src/lib.rs
  sa-server/src/main.rs
  text-compression/Cargo.toml
  text-compression/src/lib.rs
Due: sa-index, sa-mappings

Refactor scattered cfg indicators
  sa-builder/Cargo.toml
  sa-index/src/array/mod.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
Due: sa-builder, sa-index, sa-mappings

Some fixes
  bitarray/src/lib.rs
  sa-index/src/array/mod.rs
  sa-index/src/kmer_table.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
Due: bitarray, sa-index, sa-mappings

Some protein retrieval fixes
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
Due: sa-index, sa-mappings

Move the kmer prefetcher so we also prefetch the suffix array range when the skip is larger than zero
  sa-index/src/sa_searcher.rs
Due: sa-index

Get rid of all unsafe code, except for the unavoidable unsafe mmap code
  sa-index/src/kmer_table.rs
Due: sa-index

Reorder the OS page prefetching calls for the search
  sa-index/src/sa_searcher.rs
Due: sa-index

Fix the prefetching for larger than zero skip values so we do not perform a prefetch when we do not need it
  sa-index/src/sa_searcher.rs
Due: sa-index

Add two pass prefetching for the proteins for the preloaded index as well
  prefetch/src/lib.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-mappings/src/proteins.rs
Due: sa-index, sa-mappings

Add two pass prefetching for the suffix array for the preloaded index as well
  sa-index/src/sa_searcher.rs
  text-compression/src/lib.rs
Due: sa-index
