Repository unipept/unipept-index: changes, and which Codecov flags are due for each by the changed paths.
All: bitarray, fa-compression, sa-builder, sa-compression, sa-index, sa-mappings

Small fix to preload suffix array
  sa-index/src/sa_searcher.rs
Due: sa-index

Fix warmup for mmap variant
  sa-benchmarks/src/main.rs
Due: none

Add the pivot prefetching for preloaded index
  sa-index/src/array/mod.rs
  sa-index/src/sa_searcher.rs
Due: sa-index

Extra cfg filtering to keep inline functions as small as possible
  sa-index/src/array/mod.rs
Due: sa-index

Avoid matches in expensive locations
  sa-mappings/src/proteins.rs
  text-compression/src/lib.rs
Due: sa-mappings

Massive rewrite to finally completely split the mmap from the InMemory variant, so the optimizations do not influence eachother without introducing a lot of duplicate code
  sa-benchmarks/src/main.rs
  sa-builder/Cargo.toml
  sa-builder/src/main.rs
  sa-builder/tests/build_test.rs
  sa-index/src/array/compressed.rs
  sa-index/src/array/mmap.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/original.rs
  sa-index/src/array/preloaded.rs
  sa-index/src/kmer_table.rs
  sa-index/src/lib.rs
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/sparse.rs
  sa-mappings/src/lib.rs
  sa-mappings/src/proteins.rs
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/mod.rs
  sa-mappings/src/proteins/preloaded.rs
  sa-server/src/main.rs
  text-compression/src/lib.rs
  text-compression/src/mmap.rs
  text-compression/src/preloaded.rs
Due: sa-builder, sa-index, sa-mappings

Further split off functionalities so optimizations can still have common code, but do not influence eachother
  Cargo.lock
  sa-benchmarks/src/generate_peptides.rs
  sa-benchmarks/src/main.rs
  sa-builder/Cargo.toml
  sa-builder/src/main.rs
  sa-index/src/array/mmap.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/preloaded.rs
  sa-index/src/kmer_table.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/sparse.rs
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/mod.rs
  sa-mappings/src/proteins/preloaded.rs
  text-compression/src/lib.rs
  text-compression/src/mmap.rs
  text-compression/src/preloaded.rs
Due: sa-builder, sa-index, sa-mappings

Fix mmap (default feature) bug
  sa-benchmarks/Cargo.toml
Due: none

Fix preloaded SA loading
  text-compression/src/preloaded.rs
Due: none

Consistency additions for the suffix_to_protein_mappings. Use the correct read and write traits and move mmap reading code to the correct files
  sa-builder/src/main.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/dense.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/sparse.rs
Due: sa-index

Apply review: Add some more documentation + Add prints when building the suffix array
  sa-builder/src/lib.rs
  sa-builder/tests/build_test.rs
  sa-index/src/array/mmap.rs
Due: sa-builder, sa-index

Update index build action for new mmapped data
  .github/workflows/build_index.yml
Due: none

Use default mapping style for sa-builder in action
  .github/workflows/build_index.yml
Due: none

Improve README with explanation of the different CLI commands and options
  README.md
Due: none

Mappings.bin renamed to mapping.bin in releases
  .github/workflows/build_index.yml
Due: none

Add a proteinsBackend trait to link all protein implementations and tell the searcher what is used
  bitarray/src/lib.rs
  sa-benchmarks/src/generate_peptides.rs
  sa-benchmarks/src/main.rs
  sa-builder/src/main.rs
  sa-index/src/lib.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/mod.rs
  sa-mappings/src/proteins/preloaded.rs
Due: bitarray, sa-index, sa-mappings

Separate the mappings in a similar fashion as all the other code. In addition use separate enums for the preloaded/inmemory and mmap variants
  sa-benchmarks/src/main.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/mmap/sparse.rs
  sa-index/src/suffix_to_protein_index/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/dense.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/sparse.rs
  sa-index/src/suffix_to_protein_index/sparse.rs
  sa-server/src/main.rs
Due: sa-index

More logical place for the binary traits
  Cargo.lock
  Cargo.toml
  binary-traits/Cargo.toml
  binary-traits/src/lib.rs
  text-compression/Cargo.toml
  text-compression/src/lib.rs
  text-compression/src/preloaded.rs
Due: none

Fix the peptide search generics
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
Due: sa-index

Remove the clap dependency from the sa-index. The enum variant was only used by the builder and thus moved
  Cargo.lock
  sa-builder/src/lib.rs
  sa-builder/src/main.rs
  sa-index/Cargo.toml
  sa-index/src/suffix_to_protein_index/mod.rs
Due: sa-builder, sa-index

Add inline to bitarrays get-function
  bitarray/src/lib.rs
Due: bitarray

Move len outside the loop
  sa-index/src/sa_searcher.rs
Due: sa-index

import bug fix
  text-compression/src/mmap.rs
Due: none

Bits are know at compile time, so let the array know this in advance
  bitarray/src/lib.rs
  text-compression/src/preloaded.rs
Due: bitarray

Add more inline because explicit inlining is needed over packages
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/preloaded.rs
Due: sa-mappings

Finish the cross-crate inlining for both preloaded and mmap variants
  sa-index/src/array/compressed.rs
  sa-index/src/array/preloaded.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-index/src/suffix_to_protein_index/preloaded/mod.rs
  text-compression/src/preloaded.rs
Due: sa-index

More aggressive inlining
  sa-index/src/sa_searcher.rs
Due: sa-index

Add all relevant inlining options for both getters and prefetching
  sa-index/src/array/compressed.rs
  sa-index/src/array/mmap.rs
  sa-index/src/array/mod.rs
  sa-index/src/array/original.rs
  sa-index/src/array/preloaded.rs
  sa-index/src/sa_searcher.rs
  sa-index/src/suffix_to_protein_index/mmap/bitvec.rs
  sa-index/src/suffix_to_protein_index/mmap/dense.rs
  sa-index/src/suffix_to_protein_index/mmap/sparse.rs
  sa-index/src/suffix_to_protein_index/preloaded/bitvec.rs
  sa-index/src/suffix_to_protein_index/preloaded/dense.rs
  sa-index/src/suffix_to_protein_index/preloaded/sparse.rs
  sa-mappings/src/proteins/mmap.rs
  sa-mappings/src/proteins/preloaded.rs
Due: sa-index, sa-mappings

Try a constant bitarray iimplementation
  bitarray/src/binary.rs
  bitarray/src/lib.rs
  sa-index/src/array/compressed.rs
  sa-index/src/array/preloaded.rs
  text-compression/src/mmap.rs
  text-compression/src/preloaded.rs
Due: bitarray, sa-index

Cleanup bitarray + Create a constant MASK constant as well
  bitarray/src/binary.rs
  bitarray/src/constant.rs
  bitarray/src/dynamic.rs
  bitarray/src/lib.rs
Due: bitarray

Add lightweight taxon analysis function
  sa-index/src/peptide_search.rs
  sa-index/src/sa_searcher.rs
  sa-mappings/src/proteins.rs
Due: sa-index, sa-mappings

Use a bigger OS page size
  sa-index/src/array/mmap.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-mappings/src/proteins/mmap.rs
  text-compression/src/mmap.rs
Due: sa-index, sa-mappings

Revert "Use a bigger OS page size"
  sa-index/src/array/mmap.rs
  sa-index/src/suffix_to_protein_index/mmap/mod.rs
  sa-mappings/src/proteins/mmap.rs
  text-compression/src/mmap.rs
Due: sa-index, sa-mappings

Add MLP cross-query batching for the suffix search
  sa-benchmarks/mlp_sweep.sh
  sa-benchmarks/src/main.rs
  sa-index/src/sa_searcher.rs
Due: sa-index

benchmark: --build-kmer-table flag + k-mer/huge-page sweep options
  sa-benchmarks/mlp_sweep.sh
  sa-benchmarks/src/main.rs
Due: none

Add env-gated MADV_HUGEPAGE for preloaded SA + text
  Cargo.lock
  bitarray/Cargo.toml
  bitarray/src/constant.rs
  bitarray/src/dynamic.rs
  bitarray/src/lib.rs
  sa-index/src/array/compressed.rs
  text-compression/src/preloaded.rs
Due: bitarray, sa-index

mlp_sweep: add MLP_KMER_FILE to load a pre-built k-mer table (matches production)
  sa-benchmarks/mlp_sweep.sh
Due: none

benchmark: per-length-bucket tooling + phase breakdown in sweep
  sa-benchmarks/bucket_peptides.sh
  sa-benchmarks/mlp_sweep.sh
Due: none

sa-index: move batched MLP search into sa_searcher::batched submodule
  sa-index/src/sa_searcher/batched.rs
  sa-index/src/sa_searcher/mod.rs
Due: sa-index

bitarray: make huge-page advice a default-on capability
  bitarray/src/constant.rs
  bitarray/src/dynamic.rs
  bitarray/src/hugepages.rs
  bitarray/src/lib.rs
Due: bitarray

Path conditions:
  bitarray: any of: bitarray, but not: **/main.rs
  fa-compression: any of: fa-compression, but not: **/main.rs
  sa-builder: any of: sa-builder, but not: **/main.rs
  sa-compression: any of: sa-compression, but not: **/main.rs
  sa-index: any of: sa-index, but not: **/main.rs
  sa-mappings: any of: sa-mappings, but not: **/main.rs
